<div class="aside">
    <div class="menu-box">
        <ul class="menu">
            <li class="active">
                <a>
                    <div class="setting-icon"><i class="iconfont ic-search-note"></i></div> <span>文章</span>
                </a>
            </li>
            <li class="">
                <a>
                    <div class="setting-icon"><i class="iconfont ic-search-user"></i></div> <span>用户</span>
                </a>
            </li>
            <li class="">
                <a>
                    <div class="setting-icon"><i class="iconfont ic-search-collection"></i></div> <span>专题</span>
                </a>
            </li>
            <li class="">
                <a>
                    <div class="setting-icon"><i class="iconfont ic-search-notebook"></i></div> <span>小册</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="search-trending">
        <div class="search-trending-header clearfix"><span>热门搜索</span> <a><i class="iconfont ic-search-change" style="transform: rotate(0deg);"></i>
                换一批</a></div>
        <ul class="search-trending-tag-wrap">
            <li><a href="/" target="_blank">区块链</a></li>
            <li><a href="/" target="_blank">小程序</a></li>
            <li><a href="/" target="_blank">vue</a></li>
            <li><a href="/" target="_blank">毕业</a></li>
            <li><a href="/" target="_blank">PHP</a></li>
            <li><a href="/" target="_blank">故事</a></li>
            <li><a href="/" target="_blank">flutter</a></li>
            <li><a href="/" target="_blank">理财</a></li>
            <li><a href="/" target="_blank">美食</a></li>
            <li><a href="/" target="_blank">投稿</a></li>
        </ul>
    </div>

    <div class="search-recent">
        <div class="search-recent-header clearfix"><span>最近搜索</span> <a>清空</a></div>
        <ul class="search-recent-item-wrap">
            <li>
                <a href="" target="_blank">
                    <i class="iconfont ic-search-history"></i>
                    <span>java</span> <i class="iconfont ic-unfollow"></i>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <i class="iconfont ic-search-history"></i>
                    <span>小程序</span> <i class="iconfont ic-unfollow"></i>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <i class="iconfont ic-search-history"></i>
                    <span>nodejs</span> <i class="iconfont ic-unfollow"></i>
                </a>
            </li>
        </ul>
    </div>
</div>