body {
    background: #f4f5f5;
}

.search-view {
    width: 960px;
    margin: 0 auto;
}

.result-list {
    width: 700px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}