@import '../variable.scss';

body {
    display: block!important;
    box-sizing: border-box;
}

html, body, #app, #editorBox {
    height: 100%;
    font-family: $fontFamily;
}

.editor-header {
    display: flex;
    position: fixed;
    z-index: 10;
    width: 100%;
    min-width: 1050px;
    height: 56px;
    background: #fff;
}

.editor-logo-box {
    float: left;
    height: 30px;
}

.editor-title-input {
    flex: 1;
    border: none;
    color: #000;
    font-size: 24px;
    line-height: 24px;
    font-family: $fontFamily;
    font-weight: 700;
    padding-left: 12px;
}

.editor-title-input::-webkit-input-placeholder {
    color: #999;
}

.editor-no-header-title {
    flex: 1;
}

.user-actions-box {
    width: 560px;
    padding-right: 10px;
}

.auto-save {
    float: right;
    font-size: 16px;
    height: 26px;
    line-height: 26px;
    margin-top: 15px;
    white-space: nowrap;
    cursor: default;
    color: #ddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.auto-save a {
    cursor: pointer;
    margin: 0;
    margin-left: 6px;
    padding: 0 8px;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    border: 1px solid currentColor;
    border-radius: 2px;
}

.auto-save a:hover {
    color: #ccc;
}

.upload-cover {
    float: right;
    margin-left: 20px;
    padding: 4px 8px;
    width: 44px;
    height: 36px;
    margin-top: 10px;
    box-sizing: border-box;
}

.upload-cover div {
    cursor: pointer;
    width: 28px;
    height: 28px;
    background-image: url(../../images/editor/uploadcover.svg);
}

.upload-cover div:hover {
    opacity: .8;
}

.editor-more-btn {
    float: right;
    margin-left: 20px;
    height: 56px;
    line-height: 56px;
}

.editor-more-btn i {
    cursor: pointer;
    color: #909090;
    font-size: 24px;
}

.editor-more-btn i:before {
    content: "\E633";
}

.write-btn {
    float: right;
    margin-left: 30px;
}

.navbar-user {
    float: right;
}