@import '../article/articleDisplay.scss';

.mili-editor2view {
    white-space: unset!important;
}

.mili-editor2view pre > code {
    overflow-x: hidden;
}

.mili-editor2view code {
    display: inline;
}

.mili-editor2view .CodeMirror, .mili-editor2view .CodeMirror-scroll {
    min-height: 200px;
}