{% extends '../../layout/default.njk' %}

{% block main %}
<div id="mainBox">
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block pageData %}
<script>
    var categoryPathName = '{{categoryPathName}}';
    var categories = {{ categories | dump | safe }};
</script>
{% endblock %}

{% block devjs %}
    {{ loadjs('entry/recommendations/authors.js') }}
{% endblock %}