# dependencies
node_modules/
dist

# IDE
/.idea
/.awcache
.vscode

# Log files
npm-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

package-lock.json

src/config/json.development.ts
src/config/json.staging.ts
src/config/json.test.ts
src/config/json.production.ts