{% extends '../../layout/default.njk' %}

{% block main %}
<div class="container">
    <div class="book-info-view">
        <div class="book-card">
            <div class="book-info">
                <div class="poster">
                    <img src="{{book.coverURL}}">
                </div>
                <div class="info">
                    <div class="title-line">
                        <a href="" class="title">
                            <span>{{book.name}}</span>
                        </a>
                    </div>
                    <div class="media">
                        <div class="desc">{{book.summary}}</div>
                        <div class="author">
                            <div class="author-info">
                                <a href="/user/551d677ee4b0cd5b623f49cb" target="_blank" class="user">
                                    <div class="lazy avatar hero loaded" style="background-image: url({{book.user.avatarURL}});"></div>
                                    <span>{{book.user.username}}</span>
                                </a>
                            </div>
                            <div class="author-desc">
                                <span class="desc"></span>
                            </div>
                            <div title="加入作者互动群" class="add-group" style="display: none;">
                                <img src="https://b-gold-cdn.xitu.io/v3/static/img/add-group.f7844b8.svg">
                                <span>加群</span>
                            </div>
                        </div>
                    </div>
                    <div class="other">
                        <div class="is-buy">
                            <button id="gotoChapterBtn" class="button--buy">阅读</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="book-bought">
                <div class="label">
                    <img src="{{imgPath}}/handbook/buy-icon.svg">
                    <span>{{book.userCount}} 人已阅读</span>
                </div>
                <div class="users">
                    <div data-src="https://user-gold-cdn.xitu.io/2019/4/5/169e9335fae05880?imageView2/1/w/100/h/100/q/85/format/webp/interlace/1" class="lazy avatar user loaded" style="background-image: url(&quot;https://user-gold-cdn.xitu.io/2019/4/5/169e9335fae05880?imageView2/1/w/100/h/100/q/85/format/webp/interlace/1&quot;);"></div>
                    <div data-src="https://leancloud-gold-cdn.xitu.io/08Rl6hylE4JMAT6qXxg68dgKkhGH7g9igG6QCNlp?imageView2/1/w/100/h/100/q/85/format/webp/interlace/1" class="lazy avatar user loaded" style="background-image: url(&quot;https://leancloud-gold-cdn.xitu.io/08Rl6hylE4JMAT6qXxg68dgKkhGH7g9igG6QCNlp?imageView2/1/w/100/h/100/q/85/format/webp/interlace/1&quot;);"></div>
                    <div data-src="https://b-gold-cdn.xitu.io/v3/static/img/default-avatar.e30559a.svg" class="lazy avatar user loaded" style="background-image: url(&quot;https://b-gold-cdn.xitu.io/v3/static/img/default-avatar.e30559a.svg&quot;);"></div>
                    <div data-src="https://mirror-gold-cdn.xitu.io/168e095f0233ec87dd5?imageView2/1/w/100/h/100/q/85/format/webp/interlace/1" class="lazy avatar user loaded" style="background-image: url(&quot;https://mirror-gold-cdn.xitu.io/168e095f0233ec87dd5?imageView2/1/w/100/h/100/q/85/format/webp/interlace/1&quot;);"></div>
                    <div data-src="https://mirror-gold-cdn.xitu.io/168e084679d02b29269?imageView2/1/w/100/h/100/q/85/format/webp/interlace/1" class="lazy avatar user loaded" style="background-image: url(&quot;https://mirror-gold-cdn.xitu.io/168e084679d02b29269?imageView2/1/w/100/h/100/q/85/format/webp/interlace/1&quot;);"></div>
                    <div data-src="https://mirror-gold-cdn.xitu.io/168e93f941f3d80f9aa?imageView2/1/w/100/h/100/q/85/format/webp/interlace/1" class="lazy avatar user loaded" style="background-image: url(&quot;https://mirror-gold-cdn.xitu.io/168e93f941f3d80f9aa?imageView2/1/w/100/h/100/q/85/format/webp/interlace/1&quot;);"></div>
                </div>
            </div>
        </div>
        <div class="book-card">
            <div class="book-menu-wrap">
                <div class="book-menu">
                    <div class="item active">
                        <span class="text">目录</span>
                    </div>
                    <div class="item">
                        <span class="text">评价</span>
                    </div>
                    <div class="item" style="display: none;">
                        <span class="text">评论</span>
                        <span class="badge">0</span>
                    </div>
                </div>
            </div>
            <div class="book-content">
                <div class="book-content-head">小册内容</div>
                <div class="book-directory section-of-info">
                    {% for chapter in chapters %}
                    <div class="section section-link">
                        <div class="step">
                            <div class="step-btn">1</div>
                        </div>
                        <div class="center">
                            <div class="title">{{chapter.name}}</div>
                            <div class="sub-line">
                                <div class="statistics">
                                    <span class="duration">时长: {{chapter.wordCount | readDuration}}</span>
                                    <span class="readed">{{book.browseCount}}次学习</span>
                                    <span class="comment">{{book.commentCount}}条评论</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="bookDetailStarComment"></div>

        <div class="book-card">
            <div class="header">推荐开源图书</div>
            {% block bookList %}
                {% include '../../component/book/bookList.njk' %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="copy-right-box">
    <div class="copy-right">
        <span>©{{ '' | currentTime('YYYY')}} {{siteName}}</span>
    </div>
</div>
{% endblock %}

{% block pageData %}
<script>
    var chapters = {{ chapters | dump | safe }};
    var book = {{ book | dump | safe }};
</script>
{% endblock %}

{% block libjs %}
{% endblock %}

{% block devjs %}
    {{ loadjs('entry/book/bookDetail.js') }}
{% endblock %}