{% extends '../../layout/empty.njk' %}

{% block main %}
<div id="chapterBox"></div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block css %}
{% endblock %}

{% block pageData %}
<script>
    var user = {{ user | dump | safe }};
    var chapter = {{ chapter | dump | safe }};
    var chapters = {{ chapters | dump | safe }};
</script>
{% endblock %}

{% block libjs %}
{% endblock %}

{% block devjs %}
    {{ loadjs('entry/book/chapter.js') }}
{% endblock %}