{% extends '../../layout/empty.njk' %}

{% block main %}
<div id="chapterBox"></div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block css %}
{% endblock %}

{% block pageData %}
<script>
    var user = {{ user | dump | safe }};
    var chapter = {{ chapter | dump | safe }};
    var chapters = {{ chapters | dump | safe }};
    var baiduAd = {{ baiduAd | dump | safe }};
</script>
{% endblock %}

{% block libjs %}
<script src="//cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript" async="async" defer="defer"></script>
{% endblock %}

{% block devjs %}
    {{ loadjs('entry/book/chapter.js') }}
{% endblock %}