{% extends '../../layout/empty.njk' %}

{% block main %}
<div id="chapterBox"></div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block css %}
{% endblock %}

{% block pageData %}
<script>
    var user = {{ user | dump | safe }};
    var isHandbook = {{ isHandbook }};
    var book = {{ book | dump | safe }};
    var chapterID = {{ chapterID }};
    var chapters = {{ chapters | dump | safe }};
    var isCommitedStar = {{ isCommitedStar }};
</script>
{% endblock %}

{% block devjs %}
    {{ loadjs('entry/book/chapter.js') }}
{% endblock %}