html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;font-family: Arial, 'Microsoft yahei', Verdana, 宋体, 'Hiragino Sans GB', '冬青黑体简体中文 w3', 'Microsoft Yahei', 'Hiragino Sans GB', '冬青黑体简体中文 w3', STXihei, 华文细黑, 微软雅黑, SimSun, 宋体, Heiti, 黑体, sans-serif;}
a,a:hover{color:#333;}

html,body {
	height: 100%;
	background-color: #e1e1e1;
}

.golang-footer {
	background: #000;
	margin-top: 20px;
	height: 120px;
}

.admin-common-line {
	margin: 10px 0;
}

.golang-top-header {
	height: 50px;
	background-color: #444;
}

.golang-top-box {
	width: 1200px;
	margin: 0 auto;
}

.golang-logo-container img {
	height: 50px;
}

.golang-top-header-left {
	float: left;
	line-height: 50px;
}

.golang-top-header-right {
	float: right;
}

input[name="topSearch"] {
    background: url(/images/search.png) 4px 4px no-repeat #888;
    padding: 3px 5px 3px 22px;
    color: #666;
    border: 0;
    margin-top: 2px;
    transition: all .5s;
    height: 20px;
    width: 220px;
    border-radius: 15px;
}

input[name="topSearch"]:hover, input[name="topSearch"]:focus {
    background-color: #fff;
}

.golang-logo-container, .golang-header-search {
	display: inline-block;
	line-height: 50px;
	height: 50px;
    vertical-align: middle;
}

.golang-top-search {
	margin-left: 10%;
}

.golang-top-header-right li {
	display: inline-block;
	line-height: 50px;
	font-size: 14px;
	color: #ccc;
	padding: 0 10px;
	cursor: pointer;
}

.golang-top-header-right li:hover {
	color: #fff;
}

.golang-home-body-right {
	float: right;
	display: inline-block;
}

.golang-home-body-right {
	width: 20%;
}

.golang-home-body-right .golang-cell {
	margin-bottom: 20px;
}

.golang-cell .title{
    padding: 10px;
    background-color: #f6f6f6;
}

.golang-cell ul, .golang-cell .golang-cell-body {
	background-color: #fff;
}

.golang-cell ul .golang-cell-item{
	padding: 10px;
	border-top: 1px solid #f0f0f0;
}

.golang-cell ul .golang-cell-item:nth-child(1) {
	border: 0;
}

.golang-footer {
	clear: both;
	background: #fff;
	border-top: 1px solid #f0f0f0;
	padding: 10px;
	height: 100px;
	margin-top: 30px;
}

.golang-footer {
	font-size: 14px;
}

.golang-home-body {
	width: 1200px;
	margin: 20px auto;
	min-height: 300px;
}

.golang-home-body-left {
	background-color: #fff;
	width: 75%;
	display: inline-block;
}

.golang-key-word {
	color: #80bd01;
}

.golang-score-item {
	font-size: 12px;
	color: gray;
	margin-right: 10px;
	display: inline-block;
}

.golang-cell-item .golang-score-item:nth-child(1) {
	width: 10%;
}

.golang-user-info {
	padding: 20px 10px;
	background-color: #fff;
	margin-bottom: 20px;
}

.golang-user-info p:nth-child(1) {
	font-size: 14px;
	margin-bottom: 20px;
}

.golang-user-info p:nth-child(2) {
	font-size: 14px;
}

.golang-user-info-action {
	margin: 0 3px;
	color: #778087;
}

.golang-user-info-action:hover {
	text-decoration: underline;
}

.golang-user-info-icon {
	width: 40px;
	height: 40px;
}

.golang-sidebar-icon-box, .golang-sidebar-info-box {
	display: inline-block;
}

.golang-sidebar-icon-box {
	margin-left: 20px;
}

.golang-sidebar-info-box {
	line-height: 40px;
	float: right;
	margin-right: 20px;
}

.golang-common-link {
	color: gray;
}

.golang-user-line {
	margin-top: 10px;
	clear: both;
}

.golang-user-line .link-block {
	margin-left: 15px;
	margin-right: 40px;
}
