.golang-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.golang-forget-container {
	width: 1000px;
	margin: 0 auto;
	height: 60%;
	margin-top: 20px;
	background-color: #fff;
	padding: 20px;
}

.golang-forget-container h1 {
	font-size: 24px;
}

.golang-forget-title {
	height: 30px;
	line-height: 30px;
	background-color: #80bd01;
	color: #fff;
	font-size: 14px;
	margin-top: 15px;
	padding-left: 10px;
}

.golang-forget-form {
    width: 400px;
    margin: 0 auto;
    margin-top: 30px;
}

.forget-button {
	width: 300px;
	margin-left: 50px;
}