<div class="category-nav-box">
    <div class="category-nav">
        <ul class="category-list">
            <li><a href="/search?type={{searchType}}&q={{searchKeyword}}" class="category-item category-item-select">综合</a></li>
            <li><a href="/search?type={{searchType}}&q={{searchKeyword}}" class="category-item">文章</a></li>
            <li><a href="/search?type={{searchType}}&q={{searchKeyword}}" class="category-item">频道</a></li>
            <li><a href="/search?type={{searchType}}&q={{searchKeyword}}" class="category-item">用户</a></li>
        </ul>
    </div>
</div>