<div class="category-nav-box">
    <div class="category-nav">
        <ul class="category-list">
            <li><a href="/search?q={{keywordEncoded}}" class="category-item {% if searchType == 'all' %}category-item-select {% endif %}">综合</a></li>
            <li><a href="/search?type=article&q={{keywordEncoded}}" class="category-item {% if searchType == 'article' %}category-item-select {% endif %}">文章</a></li>
            <li><a href="/search?type=category&q={{keywordEncoded}}" class="category-item {% if searchType == 'category' %}category-item-select {% endif %}">分类</a></li>
            <li><a href="/search?type=user&q={{keywordEncoded}}" class="category-item {% if searchType == 'user' %}category-item-select {% endif %}">用户</a></li>
        </ul>
    </div>
</div>