<div class="category-nav-box">
    <div class="category-nav">
        <ul class="category-list">
            <li><a class="category-item category-item-select" href="">综合</a></li>
            <li><a class="category-item" href="">文章</a></li>
            <li><a class="category-item" href="">频道</a></li>
            <li><a class="category-item" href="">用户</a></li>
        </ul>
    </div>
</div>