body {
    background-color: #f4f5f5;
}

.article-sidebar {
    position: fixed;
    top: 75px;
    width: 240px;
    margin-left: 720px;
}

.comment-title-sep {
    color: #8a9aa9;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 20px 0 5px;
}

.sidebar-block {
    position: relative;
    margin-bottom: 18px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    padding-bottom: 16px;
}

.sidebar-block:not(.pure) {
    background-color: #fff;
}

.sidebar-block:not(.pure) .block-title {
    padding: 12px 16px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid hsla(0, 0%, 58.8%, .1);
}

.user-item {
    padding: 16px;
    display: flex;
    align-items: center;
}

.user-item-avatar {
    display: inline-block;
    position: relative;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #eee;
    flex: 0 0 auto;
    margin-right: 12px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-item .info-box {
    flex: 1 1 auto;
    min-width: 0;
    font-size: 0;
}

.user-item .info-box .username {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    display: inline-block;
    vertical-align: top;
    height: 22px;
    line-height: 22px;
}

.user-item .info-box .username:hover {
    text-decoration: none;
}

.user-item .info-box .position {
    margin-top: 4px;
    font-size: 15px;
    color: #72777b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-body .stat-item {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #000;
    padding-left: 16px;
    padding-right: 16px;
}

.block-body .stat-item:not(:last-child) {
    margin-bottom: 10px;
}

.block-body .stat-item .zan-icon, .block-body .stat-item .article-view-icon {
    flex: 0 0 auto;
    margin-right: 14px;
}

.block-body .stat-item .count {
    margin: 0 5px;
    font-weight: 500;
}

.block-body .stat-item .stat-jp-icon {
    flex: 0 0 auto;
    margin-right: 14px;
}

.recommended-books, .recommended-authors {
    border-radius: 2px;
    overflow: hidden;
    background: #fff;
    margin-bottom: 20px;
    font-size: 13px;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.recommended-books {
    padding: 0; 
}

.recommended-books .book-item {
    padding: 15px;
    overflow: hidden;
    margin-bottom: 0;
}

.recommended-books .book-item a {
    display: block;
    overflow: hidden;
}

.recommended-books .book-item-img {
    float: left;
    width: 52px;
    height: 72px;
}

.recommended-books .book-item-info {
    float: left;
    width: 148px;
    margin-left: 10px;
    text-align: left;
}

.recommended-books .book-item-title {
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
}

.book-item-buycount {
    color: #878c90;
    float: left;
    height: 20px;
    line-height: 20px;
}

.try-read {
    height: 20px;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    background-color: #007fff;
    float: right;
}

.try-read:after {
    width: 0;
    height: 0;
    content: "";
    display: inline-block;
    margin-left: 3px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 3px 0 3px 3px;
}

.recommended-books .title, .recommended-authors .title {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid hsla(0, 0%, 58.8%, .1);
}

.recommended-books .title span, .recommended-authors .title span {
    font-size: 14px;
    color: #333;
}

.article-box {
    width: 960px;
    min-height: 600px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 18px;
    position: relative;
}

.author-info-block {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.author-info-block .avatar-link {
    font-size: 0;
}

.author-avatar {
    display: inline-block;
    position: relative;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #eee;
    flex: 0 0 auto;
    margin-right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.author-info-block .author-info-box {
    min-width: 0;
    flex-grow: 1;
    font-size: 0;
}

.username-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    height: 22px;
    line-height: 22px;
}

.username-ellipsis:hover {
    text-decoration: none;
}

.author-info-block .dot {
    margin: 0 6px;
}

.author-info-block .edit-btn {
    color: #1264b6;
    cursor: pointer;
}

.author-info-block .edit-btn:hover {
    text-decoration: none;
}

.rank {
    margin-left: 4px;
    vertical-align: top;
    display: inline-block;
    height: 22px;
    line-height: 22px;
}

.rank .levelimg {
    display: inline-block;
    vertical-align: top;
}

.author-info-block .meta-box {
    margin-top: 2px;
    font-size: 13px;
    color: #909090;
}

.author-info-block .time {
    letter-spacing: 1px;
}

.author-info-block .views-count {
    margin-left: 8px;
}

.article {
    position: relative;
    width: 700px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    padding: 0 24px;
    padding-top: 24px;
}

.article-cover {
    width: 100%;
    height: 348px;
    background-size: cover;
}

.article-title {
    word-break: break-word!important;
    word-break: break-all;
    margin: 20px 0 0;
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
}

.article .author {
    margin: 30px 0 40px;
}

.article .avatar {
    width: 48px;
    height: 48px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}

.avatar img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}

.author .info {
    vertical-align: middle;
    display: inline-block;
    margin-left: 8px;
}

.author .name {
    margin-right: 3px;
    font-size: 16px;
    vertical-align: middle;
}

.author .name a:hover {
    text-decoration: none;
}

.author .follow {
    border-color: #42c02e;
    padding: 0 7px 0 5px;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.author .follow:hover {
    border-color: #3db922!important;
    background-color: #3db922;
    color: #fff;
}

.btn-success {
    border-radius: 40px;
    color: #fff;
    background-color: #42c02e;
    border-color: #42c02e;
}

.btn-default {
    border-radius: 40px;
}

.ic-followed:before {
    content: "\E610";
}

.follow-cancel:focus, .follow-cancel:hover, .follow-each:focus, .follow-each:hover, .following, .following:focus, .following:hover {
    border-color: #969696!important;
    background-color: hsla(0, 0%, 39%, .05)!important;
    padding: 0 7px 0 5px;
    font-size: 12px;
    color: #8c8c8c!important;
}

.ic-follow:before {
    content: "\E611";
}

.author .follow span {
    margin-left: 2px;
    display: inline;
}

.author .meta {
    margin-top: 5px;
    font-size: 12px;
    color: #969696;
}

.author .meta span {
    padding-right: 5px;
}

.article-edit-link {
    float: right;
    margin-top: 8px;
    padding: 0 12px;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    color: #9b9b9b;
    line-height: 30px;
    border-radius: 50px;
}

.article-edit-link:hover {
    background-color: hsla(0, 0%, 71%, .1);
    text-decoration: none;
    color: #9b9b9b;
}

.article-content {
    color: #2f2f2f;
    word-break: break-word!important;
    word-break: break-all;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
}

.article-box .support-author {
    min-height: 144px;
    padding: 20px 0;
    text-align: center;
    clear: both;
}

.article-box .support-author p {
    padding: 0 30px;
    margin-bottom: 20px;
    min-height: 24px;
    font-size: 17px;
    font-weight: 700;
    color: #969696;
}

.article-box .support-author .btn-pay {
    margin-bottom: 20px;
    padding: 8px 25px;
    font-size: 16px;
    color: #fff;
    background-color: #ea6f5a;
    border-radius: 20px;
}

.article-box .support-author .btn-pay:hover {
    background-color: #ec6149;
}

.support-author .supporter {
    height: 50px;
}

.article-box .support-author .supporter .support-list {
    list-style: none;
    display: inline-block;
}

.article-box .follow-detail {
    padding: 20px;
    background-color: hsla(0, 0%, 71%, .1);
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 12px;
}

.follow-detail .info {
    min-height: 47px;
}

.follow-detail .avatar {
    float: left;
    margin-right: 10px;
    width: 48px;
    height: 48px;
}

.follow-detail .info .title {
    margin-right: 3px;
    font-size: 17px;
    line-height: 1.8;
    vertical-align: middle;
}

.follow-detail .info p {
    margin-bottom: 0;
    color: #969696;
}

.follow-detail .follow {
    float: right;
    margin-top: 4px;
    padding: 8px 0;
    width: 100px;
    font-size: 16px;
}

.follow-detail .big.following {
    float: right;
    margin-top: 4px;
    padding: 8px 0;
    width: 100px;
    font-size: 16px;
}

.follow-detail .introduce {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e1e1e1;
    color: #969696;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.follow:hover {
    border-color: #3db922!important;
    color: #fff;
    background-color: #3db922;
}

.follow-detail .title:hover {
    text-decoration: none;
}

.article .meta-bottom {
    margin-top: 40px;
    margin-bottom: 80px;
}

.article .meta-bottom .like {
    display: inline-block;
}

.article-banner {
    margin-top: 24px;
    margin-bottom: 30px;
    padding: 0 0 0 24px;
    border-left: 6px solid #ddd;
}

.article-banner .banner-title {
    font-size: 16px;
    line-height: 1.6;
    color: #007fff;
}

.article-banner .banner-title:hover {
    text-decoration: none;
}

.article-banner .banner-content {
    margin-top: 3px;
    font-size: 13px;
    line-height: 1.4;
    color: #909090;
}

.article .comment-list {
    padding-top: 0;
    box-sizing: border-box;
}

.article .comment-list .new-comment {
    position: relative;
    margin-left: 48px;
}

.article .comment-list .new-comment .avatar {
    position: absolute;
    left: -48px;
}

.article .comment-list .avatar {
    margin-right: 5px;
    width: 38px;
    height: 38px;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.article .comment-list .new-comment .sign-container {
    box-sizing: border-box;
    text-align: center;
    padding: 10px 15px;
    width: 100%;
    height: 80px;
    font-size: 13px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: hsla(0, 0%, 71%, .1);
    resize: none;
    display: inline-block;
    vertical-align: top;
    outline-style: none;
}

.article .comment-list .new-comment .btn-sign {
    width: 78px;
    margin: 11px 10px 0 0;
    padding: 7px 18px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    color: #fff!important;
    background-color: #3194d0;
    outline: none;
    box-sizing: border-box;
}

.article .comment-list .new-comment .btn-sign:hover {
    background-color: #187cb7;
}

.article .comment-list .new-comment span {
    font-size: 14px;
    vertical-align: -7px;
}

.article .comment-list .normal-comment-list {
    padding-top: 10px;
}

.article .comment-list .top-title {
    padding-bottom: 20px;
    font-size: 17px;
    font-weight: 700;
    border-bottom: 1px solid #f0f0f0;
}

.article .comment-list .top-title span {
    vertical-align: middle;
}

.article .comment-list .normal-comment-list .top-title .close-btn {
    margin-left: 10px;
    font-size: 12px;
    color: #969696;
}

.article .comment-list .normal-comment-list .no-comment {
    width: 226px;
    height: 92px;
    margin: 30px auto 20px;
    background: url(../../images/article/icon_comment_no.png) no-repeat;
    background-size: contain;
}

.article .comment-list .normal-comment-list .text {
    margin-bottom: 50px;
    text-align: center;
    font-size: 12px;
    color: #969696;
}

.article .comment-list .normal-comment-list .text a, .article .comment-list .normal-comment-list .text a:hover {
    color: #3194d0;
}

.note-bottom {
    min-height: 213px;
    background-color: #f5f5f5;
    padding-top: 0;
    padding-bottom: 40px;
}

.recommend-note {
    margin-bottom: 20px;
    width: 960px;
    margin: 0 auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.recommend-note .meta .title {
    font-weight: 600;
    color: #909090;
    font-size: 15px;
    height: 52px;
    line-height: 52px;
    padding-left: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.recommend-note .meta .title .more {
    float: right;
    font-size: 14px;
    color: #A0A0A0;
}

.recommend-note .meta .title .more:hover {
    text-decoration: none;
}

.recommend-note .meta, .recommend-note .list {
    width: 700px;
    background: #fff;
}

.recommend-list-box .article-list {
    background: #fff;
}

.recommend-list-box .article-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin: -7px 0 4px;
}

.recommend-list-box .article-content {
    font-size: 13px;
    line-height: 24px;
    color: #999;
}

.ic-link:before {
    content: "\E616";
}

.tag-list-box {
    margin-top: 20px;
}

.tag-list-box .tag-list-title {
    margin-bottom: 24px;
    padding: 0 0 0 24px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    border-left: 6px solid #ddd;
}

.tag-list-box .tag-list {
    display: flex;
    flex-wrap: wrap;
}

.tag-list-box .tag-list .item {
    display: flex;
    align-items: center;
    margin: 0 15px 22px 0;
    padding: 2px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
}

.tag-list-box .tag-list .item:hover {
    text-decoration: none;
}

.tag-list-box .tag-list .tag-icon {
    width: 21px;
    height: 21px;
    border-radius: 2px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.tag-list-box .tag-list .tag-icon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
    border-radius: inherit;
    transition: opacity .2s;
    opacity: 0;
    pointer-events: none;
}

.tag-list-box .tag-list .tag-title {
    padding: 0 9px;
    font-size: 12px;
    line-height: 21px;
    color: #919191;
}