$miliEditorSizeH1: 26px;
$miliEditorSizeH2: 24px;
$miliEditorSizeH3: 18px;
$miliEditorSizeH4: 20px;
$miliEditorSizeH5: 18px;
$miliEditorSizeH6: 16px;
$miliEditorDefaultSize: 15px;
$miliEditorCodeSize: 13px;

// mili-editor 在编辑器、文章浏览页面中都存在的类
.mili-editor, .te-preview {
    height: 100%;
	font-size: $miliEditorDefaultSize;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    word-break: break-word;
    line-height: 1.75;
    font-weight: 400;
    overflow-x: hidden;
}

.mili-editor h1, .mili-editor h2, .mili-editor h3, .mili-editor h4, .mili-editor h5, .mili-editor h6,
.te-preview h1, .te-preview h2, .te-preview h3, .te-preview h4, .te-preview h5, .te-preview h6 {
    color: #333;
    line-height: 1.5;
    margin-top: 35px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.mili-editor h1, .te-preview h1 {
	font-size: $miliEditorSizeH1;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid #eaecef;
}

.mili-editor h2, .te-preview h2 {
	font-size: $miliEditorSizeH2;
    padding-bottom: 12px;
    border-bottom: 1px solid #ececec;
}

.mili-editor h3, .te-preview h3 {
	font-size: $miliEditorSizeH3;
    padding-bottom: 0;
}

.mili-editor h4, .te-preview h4 {
	font-size: $miliEditorSizeH4;
}

.mili-editor h5, .te-preview h5 {
	font-size: $miliEditorSizeH5;
}

.mili-editor h6, .te-preview h6 {
	font-size: $miliEditorSizeH6;
}

.mili-editor .heading+.heading,
.te-preview .heading+.heading {
    margin-top: 0;
}

.mili-editor em {
    font-style: italic;
    font-weight: 400;
}

.mili-editor u {
    text-decoration: underline;
}

.mili-editor ul, .mili-editor ol {
	padding-left: 28px;
	margin: 0;
}

.mili-editor ul li, .mili-editor ol li {
	margin-bottom: 0;
    list-style: inherit;
}

.mili-editor pre, .te-preview pre {
    background: #f6f6f6;
    word-spacing: normal;
    padding: 15px;
    word-wrap: normal;
    word-break: break-word!important;
    word-break: break-all;
    border-radius: 0;
    line-height: 26px;
    border: 0;
    margin: 15px 0;
    line-height: 1.42857;
    text-size-adjust: 100%;
    box-sizing: border-box;
}

.mili-editor pre code {
    -webkit-font-smoothing: auto;
    padding: 0;
    border-radius: 0;
    background: #f6f6f6;
    border: none;
    font-weight: normal;
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
    font-size: $miliEditorCodeSize;
    white-space: pre;
    color: #657b83;
    line-height: 1.42857;
}

.mili-editor code {
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    padding: 0 5px;
    border-radius: 2px;
    background-color: #fff5f5;
    color: #ff502c;
    border: none;
    font-size: $miliEditorCodeSize;
    white-space: pre-wrap;
    border-radius: 4px;
    vertical-align: middle;
    margin: 0;
}

.mili-editor blockquote {
    color: #666;
    padding: 1px 23px;
    margin: 22px 0;
    border-left: 4px solid #cbcbcb;
    background-color: #f8f8f8;
}

.mili-editor blockquote.warning {
    position: relative;
    border-left: 4px solid #f75151;
    margin-left: 8px;
}

.mili-editor blockquote.warning:before {
    position: absolute;
    top: 14px;
    left: -12px;
    background: #f75151;
    border-radius: 50%;
    content: "!";
    width: 20px;
    height: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.te-preview code div.warning {
    position: relative;
    font-size: 15px;
    color: #666;
}

.te-preview code div.warning-circle {
    position: absolute;
    left: -15px;
    top: -15px;
    border-left: 4px solid #f75151;
    height: calc(100% + 30px);
}

.te-preview code div.warning-circle:before {
    position: absolute;
    margin-top: -10px;
    top: 50%;
    left: -12px;
    background: #f75151;
    border-radius: 50%;
    content: "!";
    width: 20px;
    height: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mili-editor blockquote>p {
    margin: 10px 0;
}

.mili-editor table {
	margin-bottom: 20px;
}

.mili-editor th {
    border: 1px solid #eee;
    padding: 6px 13px!important;
    line-height: 32px;
    font-weight: bold;
}

.mili-editor table tr:nth-child(2n) {
    background-color: #f9f9f9;
}

.mili-editor td {
    border: 1px solid #eee;
    padding: 6px 13px!important;
    line-height: 32px;
}

.mili-editor hr {
	margin-bottom: 20px;
    border: none;
    height: 1px;
    background-color: #e3e3e3;
}

.mili-editor p, .te-preview p {
    line-height: 26px;
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: $miliEditorDefaultSize;
}

.mili-editor figure {
    margin: 22px auto;
    text-align: center;
}

.mili-editor img {
    max-width: 100%;
}

.mili-editor a {
    color: #08c;
    word-break: break-all;
}

.mili-editor a:hover {
    color: #08c;
}

.mili-editor .CodeMirror-measure pre {
    padding: 0!important;
}

.mili-editor .CodeMirror-line  {
    background: none!important;
    padding: 0!important;
    border: none!important;
    margin-bottom: 0!important;
}

.mili-editor-preview, .editor-preview-side {
    white-space: unset!important;
}

.mili-editor-preview pre > code, .editor-preview-side pre > code {
    overflow-x: hidden;
}

.mili-editor-preview code, .editor-preview-side code {
    display: inline;
}

.mili-editor-preview .CodeMirror, .mili-editor-preview .CodeMirror-scroll, .editor-preview-side .CodeMirror, .editor-preview-side .CodeMirror-scroll {
    min-height: 200px;
}

/* 以下为老版golang123文章来源(转载)的样式 */
#golang123-content-outter table {
    display: block;
    overflow-x: auto;
}

#golang123-content-outter .image-container-fill {
    padding-bottom: 0!important;
}

#golang123-content-outter blockquote {
    margin-top: 20px;
}

#golang123-content-outter {
    line-height: 26px;
}

/* 以下为文章来源(转载)的样式 */
#mili-content-outter table {
    display: block;
    overflow-x: auto;
}

#mili-content-outter .image-container-fill {
    padding-bottom: 0!important;
}

#mili-content-outter blockquote {
    margin-top: 20px;
}

#mili-content-outter {
    line-height: 26px;
}

#mili-content-outter-footer {
    font-size: 12px;
}