$miliEditorSizeH1: 30px;
$miliEditorSizeH2: 24px;
$miliEditorSizeH3: 18px;
$miliEditorSizeH4: 16px;
$miliEditorSizeH5: 16px;
$miliEditorSizeH6: 16px;
$miliEditorDefaultSize: 15px;
$miliEditorCodeSize: 13px;

// mili-editor 是在 文章详情页 存在的类
// te-preview 是在 markdown编辑器(iframe里) 存在的类
.mili-editor, .te-preview {
	font-size: $miliEditorDefaultSize;
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    word-break: break-word;
    line-height: 1.73;
    font-weight: 400;
    overflow-x: hidden;
}

.mili-editor h1,
.mili-editor h2,
.mili-editor h3,
.mili-editor h4,
.mili-editor h5,
.mili-editor h6,
.te-preview h1,
.te-preview h2,
.te-preview h3,
.te-preview h4,
.te-preview h5,
.te-preview h6 {
    color: #333;
    line-height: 1.5;
    margin-top: 35px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.mili-editor h1, .te-preview h1 {
	font-size: $miliEditorSizeH1;
    font-weight: 700;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border: none;
}

.mili-editor h2, .te-preview h2 {
	font-size: $miliEditorSizeH2;
    padding-bottom: 12px;
    border-bottom: 1px solid #ececec;
}

.mili-editor h3, .te-preview h3 {
	font-size: $miliEditorSizeH3;
}

.mili-editor h4, .te-preview h4 {
	font-size: $miliEditorSizeH4;
}

.mili-editor h5, .te-preview h5 {
	font-size: $miliEditorSizeH5;
}

.mili-editor h6, .te-preview h6 {
	font-size: $miliEditorSizeH6;
}

// heading 后紧跟着 heading
.mili-editor .heading+.heading,
.te-preview .heading+.heading {
    margin-top: 0;
}

.mili-editor em, .te-preview em {
    font-style: italic;
    font-weight: 400;
}

.mili-editor u, .te-preview u {
    text-decoration: underline;
}

.mili-editor hr, .te-preview hr {
	margin-bottom: 20px;
    border: none;
    height: 1px;
    background-color: #e3e3e3;
}

.mili-editor p, .te-preview p {
    line-height: 26px;
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: $miliEditorDefaultSize;
}

.mili-editor figure, .te-preview figure {
    margin: 22px auto;
    text-align: center;
}

.mili-editor img, .te-preview img {
    max-width: 100%;
}

.mili-editor a, .te-preview a {
    color: #08c;
    word-break: break-all;
}

.mili-editor a:hover, .te-preview a:hover {
    color: #08c;
}

.mili-editor ul, .mili-editor ol, .te-preview ul, .te-preview ol {
	padding-left: 28px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: $miliEditorDefaultSize;
}

.mili-editor ul li, .mili-editor ol li, .te-preview ul li, .te-preview ol li {
	margin-bottom: 0;
    list-style: inherit;
    font-size: $miliEditorDefaultSize;
    line-height: 26px;
}

.mili-editor pre, .te-preview pre {
    background: #f6f6f6;
    word-spacing: normal;
    padding: 15px;
    word-wrap: normal;
    word-break: break-word!important;
    word-break: break-all;
    border-radius: 0;
    line-height: 26px;
    border: 0;
    margin: 15px 0;
    line-height: 1.42857;
    text-size-adjust: 100%;
    box-sizing: border-box;
}

.mili-editor pre code, .te-preview pre code {
    -webkit-font-smoothing: auto;
    padding: 0;
    border-radius: 0;
    background: #f6f6f6;
    border: none;
    font-weight: normal;
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
    font-size: $miliEditorCodeSize;
    white-space: pre;
    color: #657b83;
    line-height: 1.42857;
}

.mili-editor code, .te-preview code {
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    padding: 0 5px;
    border-radius: 2px;
    background-color: #fff5f5;
    color: #ff502c;
    border: none;
    font-size: $miliEditorCodeSize;
    white-space: pre-wrap;
    border-radius: 4px;
    vertical-align: middle;
    margin: 0;
}

.mili-editor blockquote, .te-preview blockquote {
    color: #666;
    padding: 10px 23px;
    margin: 22px 0;
    border-left: 4px solid #cbcbcb;
    background-color: #f8f8f8;
}

.mili-editor blockquote.warning, .te-preview blockquote.warning {
    position: relative;
    border-left: 4px solid #f75151;
    margin-left: 8px;
}

.mili-editor blockquote.warning:before, .te-preview blockquote.warning:before {
    position: absolute;
    top: 14px;
    left: -12px;
    background: #f75151;
    border-radius: 50%;
    content: "!";
    width: 20px;
    height: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mili-editor code div.warning, .te-preview code div.warning {
    position: relative;
    font-size: 15px;
    color: #666;
}

.mili-editor code div.warning-circle, .te-preview code div.warning-circle {
    position: absolute;
    left: -15px;
    top: -15px;
    border-left: 4px solid #f75151;
    height: calc(100% + 30px);
}

.mili-editor code div.warning-circle:before, .te-preview code div.warning-circle:before {
    position: absolute;
    margin-top: -10px;
    top: 50%;
    left: -12px;
    background: #f75151;
    border-radius: 50%;
    content: "!";
    width: 20px;
    height: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mili-editor blockquote>p, .te-preview blockquote>p {
    margin: 10px 0;
}

.mili-editor table, .te-preview table {
	margin-bottom: 20px;
}

.mili-editor th, .te-preview th {
    border: 1px solid #eee;
    padding: 6px 13px!important;
    line-height: 32px;
    font-weight: bold;
}

.mili-editor table tr:nth-child(2n), .te-preview table tr:nth-child(2n) {
    background-color: #f9f9f9;
}

.mili-editor td, .te-preview td {
    border: 1px solid #eee;
    padding: 6px 13px!important;
    line-height: 32px;
}

/* ↓↓↓↓↓ 以下为老版golang123文章来源(转载)的样式 ↓↓↓↓↓ */
#golang123-content-outter table {
    display: block;
    overflow-x: auto;
}

#golang123-content-outter .image-container-fill {
    padding-bottom: 0!important;
}

#golang123-content-outter blockquote {
    margin-top: 20px;
}

#golang123-content-outter {
    line-height: 26px;
}
/* ↑↑↑↑↑↑↑↑ 上面为老版golang123文章来源(转载)的样式  ↑↑↑↑↑↑↑↑ */

/* ↓↓↓↓↓ 以下为文章来源(转载)的样式 ↓↓↓↓↓ */
#mili-content-outter table {
    display: block;
    overflow-x: auto;
}

#mili-content-outter .image-container-fill {
    padding-bottom: 0!important;
}

#mili-content-outter blockquote {
    margin-top: 20px;
}

#mili-content-outter {
    line-height: 26px;
}

#mili-content-outter-footer {
    font-size: 12px;
}
/* ↑↑↑↑↑↑↑↑↑↑↑ 上面为文章来源(转载)的样式  ↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑ */