{% extends '../../layout/default.njk' %}

{% block main %}
<div class="container">
    {% include '../../component/search/searchtype.njk' %}
    <div id="result-list" class="result-list"></div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block css %}
{% endblock %}

{% block devjs %}
  {{ loadjs('entry/search/all.js') }}
{% endblock %}