{% extends '../../layout/default.njk' %}

{% block main %}
<div class="search">
  <div class="row">

    {% include '../../component/cms/search/sidebar.njk' %}

    <div class="content">
      <div class="top">
        <div class="relevant">
          <div class="title">相关用户</div>
          <a class="function-btn">查看全部<i class="iconfont ic-arrow"></i></a>
          <div class="container-fluid list">
            <div class="item">
              <a href="" class="avatar">
                <img src="//upload.jianshu.io/collections/images/246266/u_4218058133_3781343972_fm_21_gp_0.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144/format/webp">
              </a>
              <div class="info"><a href="" target="_blank" class="name">nodejs</a>
                <div class="meta">
                  写了 0 字・0 喜欢
                </div>
              </div>
            </div>
            <div class="item">
              <a href="" class="avatar">
                <img src="//upload.jianshu.io/collections/images/246266/u_4218058133_3781343972_fm_21_gp_0.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144/format/webp">
              </a>
              <div class="info"><a href="" target="_blank" class="name">nodejs</a>
                <div class="meta">
                  写了 0 字・0 喜欢
                </div>
              </div>
            </div>
            <div class="item">
              <a href="" class="avatar">
                <img src="//upload.jianshu.io/collections/images/246266/u_4218058133_3781343972_fm_21_gp_0.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144/format/webp">
              </a>
              <div class="info"><a href="" target="_blank" class="name">nodejs</a>
                <div class="meta">
                  写了 0 字・0 喜欢
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="relevant">
          <div class="title">相关专题</div> <a class="function-btn">查看全部<i class="iconfont ic-arrow"></i></a>
          <div class="container-fluid list">
            <div class="item"><a href="/c/856b74b17595" target="_blank" class="avatar-collection"><img src="//upload.jianshu.io/collections/images/246266/u_4218058133_3781343972_fm_21_gp_0.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144/format/webp"></a>
              <div class="info"><a href="/c/856b74b17595" target="_blank" class="name">node.js 移动前端开发平台 react</a>
                <div class="meta">
                  44 文章・2521 关注
                </div>
              </div>
            </div>
            <div class="item"><a href="/c/61314ad84456" target="_blank" class="avatar-collection"><img src="//upload.jianshu.io/collections/images/199505/th.jpeg?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144/format/webp"></a>
              <div class="info"><a href="/c/61314ad84456" target="_blank" class="name">Spring-Boot</a>
                <div class="meta">
                  1002 文章・1564 关注
                </div>
              </div>
            </div>
            <div class="item"><a href="/c/43ae04575967" target="_blank" class="avatar-collection"><img src="//upload.jianshu.io/collections/images/1274/1290843914jJpDt7.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/144/h/144/format/webp"></a>
              <div class="info"><a href="/c/43ae04575967" target="_blank" class="name">NodeJS in LNNM</a>
                <div class="meta">
                  51 文章・1870 关注
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="search-content">
        <div class="sort-type"><a class="active" style="cursor: default;">
            综合排序
            ·
          </a><a class="">
            热门文章
            ·
          </a><a class="">
            最新发布
            ·
          </a><a class="">
            最新评论

          </a> <span>
            &nbsp;&nbsp;|&nbsp;
          </span>
          <div class="v-select-wrap">
            <div class="v-select-submit-wrap">
              <svg viewBox="0 0 10 6" aria-hidden="true">
                <path d="M8.716.217L5.002 4 1.285.218C.99-.072.514-.072.22.218c-.294.29-.294.76 0 1.052l4.25 4.512c.292.29.77.29 1.063 0L9.78 1.27c.293-.29.293-.76 0-1.052-.295-.29-.77-.29-1.063 0z"></path>
              </svg>
            </div>
            <div class="v-select-text-area-wrap">
              <div class="v-select-input-wrap">
                <ul class="v-select-selected-item-wrap">
                  <li class="v-select-selected-item">
                    <!---->
                    时间不限
                  </li>
                </ul>
              </div>
            </div>
            <ul class="v-select-options-wrap" style="display:none;">
              <li class="v-select-options-item selected">
                时间不限
              </li>
              <li class="v-select-options-item">
                最近一周
              </li>
              <li class="v-select-options-item">
                最近一天
              </li>
              <li class="v-select-options-item">
                最近三月
              </li>
            </ul>
          </div>
        </div>
        <div class="result">193255 个结果</div>
        {% include '../../component/cms/articles.njk' %}
        <div>
          {% include '../../component/cms/pagination.njk' %}
        </div>
      </div>

    </div>
  </div>
  <div>

  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{cssPath}}/search/search.css">
{% endblock %}

{% block js %}
<script src="{{jsPath}}/search/article.js"></script>
{% endblock %}