<div class="footer">
  <div class="footer-row">
    <div class="main">
        <a target="_blank" href="">关于我们</a><em> · </em>
        <a target="_blank" href="">Github</a><em> · </em>
        <a target="_blank" href="">积分排行榜</a><em> · </em>
        <a target="_blank" href="">成长历史</a><em> · </em>
        <a target="_blank" href="">投票专区</a><em> · </em>
        <a target="_blank" href="">帮助中心</a><em> · </em>
        <a target="_blank" href="">业务合作</a>
        <div class="icp">©2017-{{ '' | currentTime('YYYY')}} www.golang123.com / 
          <a target="_blank" href="/">
            {{siteName}}
          </a> /
          <a target="_blank" href="http://www.12377.cn/">
            中国互联网举报中心
          </a> /
          <img src="{{imgPath}}/icp.png">
          京ICP备12045181号-2
        </div>
    </div>
  </div>
</div>