<div class="side-tool">
    <ul>
        <li>
            <a id="toTopBtn" style="display: none;" class="function-button hint--left hint--rounded hint--no-animate" aria-label="回到顶部">
                <i class="iconfont ic-backtop"></i>
            </a>
        </li>
        <!--
        <li>
            <a class="js-submit-button hint--left hint--rounded hint--no-animate" aria-label="将文章加入专题">
                <i class="iconfont ic-addcollectionmodal"></i>
            </a>
        </li>
        <li>
            <a class="function-button hint--left hint--rounded hint--no-animate" aria-label="收藏文章">
                <i class="iconfont ic-mark"></i>
            </a>
        </li>
        <li id="share">
            <a class="function-button hint--left hint--rounded hint--no-animate" aria-label="分享文章">
                <i class="iconfont ic-share"></i>
            </a>
        </li>
        -->
    </ul>
</div>