<div class="navbar-user">
    {% if user %}
    <div id="userDropdownBox" class="user">
        <div data-hover="dropdown">
            <a class="avatar" href="javascript:void(0);">
                <img src="{{user.avatarURL}}">
                <div class="avatar-img-sep"></div>
                <i class="fa fa-caret-down"></i>
                <i class="fa fa-caret-up"></i>
            </a>
        </div>
        <ul class="dropdown-menu">
            <li><a href="/users/{{user.id}}"><i class="iconfont ic-navigation-profile"></i><span>我的主页</span></a></li>
            <li><a href="/bookmarks"><i class="iconfont ic-navigation-mark"></i><span>收藏的文章</span></a> </li>
            <li><a href="/"><i class="iconfont ic-navigation-like"></i><span>喜欢的文章</span></a> </li>
            <li><a href="/my/paid_notes"><i class="iconfont ic-paid"></i><span>已购内容</span></a> </li>
            <li><a href="/wallet"><i class="iconfont ic-navigation-wallet"></i><span>我的钱包</span></a> </li>
            <li><a href="/settings"><i class="iconfont ic-navigation-settings"></i><span>设置</span></a> </li>
            <li><a href="/faqs"><i class="iconfont ic-navigation-feedback"></i><span>帮助与反馈</span></a> </li>
            <li><a rel="nofollow" data-method="delete" href="/sign_out"><i class="iconfont ic-navigation-signout"></i><span>退出</span></a> </li>
        </ul>
    </div>
    {% else %}
        <a href="/signin.html" class="btn navbar-signin">登录</a>
        <a href="/signup.html" class="btn navbar-signup">注册</a>
    {% endif %}
</div>