.container {
    width: 960px;
    margin: 0 auto;
    margin-top: 86px;
}

.main {
    width: 640px;
    float: left;
}

.main-top {
    margin-bottom: 20px;
}

.main-top .avatar {
    float: left;
    width: 80px;
    height: 80px;
    margin-left: -2px;
}

.main-top .avatar img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.user-follow-button {
    padding: 8px 0;
    width: 100px;
    float: right;
    margin: 23px 0 23px 16px;
    font-size: 15px;
    text-align: center;
    border-radius: 40px;
    font-weight: 400;
    border: 1px solid transparent;
    line-height: normal;
}

.user-follow-button.off {
    color: #fff;
    background-color: #42c02e;
}

.user-follow-button.off:hover {
    border-color: #3db922;
    background-color: #3db922;
}

.user-follow-button.off i:before {
    content: "\E611";
}

.main-top .btn-follow {
    padding: 8px 0;
    width: 90px;
    float: right;
    margin: 23px 0 23px 16px;
    font-size: 15px;
    border: 1px solid rgba(59, 194, 29, .7);
    color: #42c02e!important;
    font-weight: 400;
    line-height: normal;
    border-radius: 40px;
    background: none;
}

.btn-follow:focus, .btn-follow:hover {
    border: 1px solid #42c02e;
    color: #42c02e!important;
    background-color: rgba(59, 194, 29, .05);
}

.user-follow-button {
    padding: 8px 0;
    width: 100px;
}

.user-follow-button-on {
    color: #8c8c8c;
    background-color: transparent;
    border-color: hsla(0,0%,59%,.6);
}

.user-follow-button-on i:before {
    content: "\E610";
}

.user-follow-button-on-hover {
    border-color: #969696;
    background-color: rgba(99, 99,99, .05);
}

.user-follow-button-on-hover i:before {
    content: "\E631";
}

.main-top .title {
    padding: 5px 0 0 100px;
}

.main-top .title .name {
    color: #333;
    display: inline;
    font-size: 21px;
    font-weight: 700;
    vertical-align: middle;
}

.main-top .info {
    margin-top: 5px;
    padding-left: 100px;
    font-size: 14px;
}

.main-top .info ul {
    font-size: 0;
}

.main-top .info ul li {
    display: inline-block;
    line-height: 20px;
}

.main-top .info ul .meta-block {
    font-size: 12px;
    margin: 0 7px 6px 0;
    padding: 0 7px 0 0;
    border-right: 1px solid #f0f0f0;
}

.main-top .info ul div {
    color: #969696;
}

.main-top .info ul a, .main-top .info ul div {
    color: #969696;
}

.main-top .info ul p {
    margin-bottom: -3px;
    font-size: 15px;
    color: #333;
}

.main-top .info ul .meta-block .ic-arrow {
    margin-left: -3px;
}

.ic-arrow:before {
    content: "\E61E";
}

.trigger-menu {
    margin-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
    font-size: 0;
    list-style: none;
}

.trigger-menu li {
    position: relative;
    display: inline-block;
    padding: 8px 0;
    margin-bottom: -1px;
}

.trigger-menu li.active {
    border-bottom: 2px solid #646464;
}

.trigger-menu .active a, .trigger-menu a:hover {
    color: #646464;
}

.trigger-menu a {
    text-decoration: none;
    padding: 13px 20px;
    font-size: 15px;
    font-weight: 700;
    color: #969696;
    line-height: 25px;
}

.trigger-menu i {
    margin-right: 5px;
    font-size: 17px;
}

.ic-articles:before {
    content: "\E60A";
}

.ic-feed:before {
    content: "\E608";
}

.ic-latestcomments:before {
    content: "\E609";
}

.ic-hot:before {
    content: "\E607";
}

.trigger-menu li:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 100%;
    opacity: 0;
    border-bottom: 2px solid #646464;
    -webkit-transform: translate(-50%) scaleX(0);
    transform: translate(-50%) scaleX(0);
    transition: .2s ease-in-out;
}

.trigger-menu li:after, .trigger-menu li:before {
    box-sizing: border-box;
}

.trigger-menu li:hover:after {
    opacity: 1;
    -webkit-transform: translate(-50%) scaleX(1);
    transform: translate(-50%) scaleX(1);
    transition: .2s ease-in-out;
}

.user-sidebar {
    float: right;
    width: 280px;
    box-sizing: border-box;
}

.user-sidebar .title {
    float: left;
    margin-bottom: 10px;
    font-size: 14px;
    color: #969696;
}

.user-sidebar .description {
    position: relative;
    margin-bottom: 16px;
    padding: 0 0 16px;
    text-align: left;
    font-size: 0;
    border-bottom: 1px solid #f0f0f0;
    clear: both;
    word-break: break-word!important;
    word-break: break-all;
}

.user-sidebar .js-intro {
    color: #333;
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 14px;
}

.user-sidebar a {
    margin-right: 5px!important;
    background-size: 240px 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}

.user-sidebar .social-index {
    background-position: -200px 0;
}

.user-sidebar .social-icon-weibo {
    background-position: 0 0;
}

.user-sidebar .social-icon-weixin {
    background-position: -20px 0;
}

.user-sidebar .user-dynamic {
    padding-bottom: 6px;
    margin-bottom: 16px;
    list-style: none;
    border-bottom: 1px solid #f0f0f0;
    clear: both;
}

.user-sidebar .user-dynamic li {
    margin-bottom: 10px;
    line-height: 20px;
}

.user-sidebar .user-dynamic a {
    width: 100%;
    background: none;
    font-size: 14px;
    color: #333;
    line-height: 30px;
    height: 30px;
    display: inline-block;
}

.user-sidebar .user-dynamic a:hover {
    text-decoration: none;
}

.user-sidebar .user-dynamic i {
    margin-right: 10px;
    font-size: 20px;
    vertical-align: middle;
}

.user-sidebar .ic-collection:before {
    content: "\E615";
}

.user-sidebar .user-dynamic span {
    vertical-align: middle;
    font-size: 14px;
    color: #333;
    line-height: 30px;
    box-sizing: border-box;
}

.ic-like:before {
    content: "\E663";
}

.user-sidebar .list {
    margin-bottom: 16px;
    padding-bottom: 16px;
    list-style: none;
    border-bottom: 1px solid #f0f0f0;
    clear: both;
}

.user-sidebar .list li {
    margin-bottom: 10px;
}

.user-sidebar .list li a {
    display: inline-block;
    background: none;
}

.user-sidebar .avatar-collection {
    display: block;
    cursor: pointer;
    margin-right: 5px;
    width: 32px;
    height: 32px;
}

.user-sidebar .avatar-collection img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 10%;
    box-sizing: border-box;
}

.user-sidebar .name {
    position: relative;
    max-width: 236px;
    vertical-align: middle;
    top: 1px;
    font-size: 14px;
    color: #333;
    width: auto;
    line-height: 20px;
}

.user-sidebar .ic-search-notebook {
    color: #969696;
    vertical-align: middle;
    margin-right: 5px;
    font-size: 17px;
    line-height: 20px;
}

.ic-search-notebook:before {
    content: "\E643";
}

.user-sidebar .user-action {
    padding-bottom: 20px;
    color: #969696;
}

.user-sidebar .user-action a {
    font-size: 13px;
    color: #969696;
    width: auto;
    background: none;
}

.user-sidebar .user-action a:hover {
    color: #2f2f2f;
    text-decoration: none;
}

.timeline {
    margin: 0;
    padding: 0;
    list-style: none;
}

.timeline li {
    position: relative;
    width: 100%;
    margin: 0 0 15px;
    padding: 15px 2px 20px 0;
    border-bottom: 1px solid #f0f0f0;
    word-wrap: break-word;
}

.timeline .author {
    margin-bottom: 14px;
    font-size: 13px;
}

.timeline .author .avatar, .timeline .author .info {
    display: inline-block;
    vertical-align: middle;
}

.timeline .author .info {
    line-height: 24px;
}

.timeline .author a {
    color: #333;
}

.timeline .author a:hover {
    text-decoration: none;
}

.timeline .author em {
    display: inline-block;
    vertical-align: middle;
}

.timeline .author .avatar {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.timeline .avatar img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
    vertical-align: middle;
    box-sizing: border-box;
}

.timeline .author .info .username {
    vertical-align: middle;
}

.timeline .author .info span {
    display: inline-block;
    padding-left: 3px;
    color: #969696;
    vertical-align: middle;
}

.timeline .comment {
    font-size: 15px;
    line-height: 1.7;
    margin: 0 0 10px;
}

.timeline .comment a {
    color: #3194d0;
}

.timeline blockquote {
    margin-bottom: 0;
    color: #969696;
    border-left: 3px solid #d9d9d9;
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
}

.timeline blockquote .single-line {
    margin: 0;
}

.timeline .origin-author {
    display: inline;
    font-size: 12px;
    color: #969696;
}

.timeline .origin-author a {
    margin-right: 5px;
}

.timeline .origin-author a:hover {
    text-decoration: none;
}

.timeline .title {
    font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    color: #969696;
    font-size: 18px;
    color: #333;
    font-weight: 700;
    margin-bottom: 4px;
    display: block;
}

.timeline .title:visited {
    color: #969696;
}

.timeline .abstract {
    margin: 0 0 8px;
    font-size: 13px;
    line-height: 24px;
    color: #999;
    margin-bottom: 8px;
}

.timeline blockquote .title {
    margin: 0 0 4px;
    font-size: 15px;
}

.timeline blockquote .title:visited {
    color: #969696;
}

.timeline .follow-detail {
    padding: 20px;
    background-color: hsla(0, 0%, 71%, .1);
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-size: 12px;
}

.timeline .follow-detail .avatar, .timeline .follow-detail .avatar-collection {
    float: left;
    margin-right: 10px;
    width: 48px;
    height: 48px;
}

.timeline .avatar img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.timeline .follow-detail .btn {
    float: right;
    margin-top: 4px;
    padding: 8px 0;
    width: 100px;
    border-color: #42c02e;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.ic-follow:before {
    content: "\E611";
}

.timeline .follow-detail .info {
    overflow: hidden;
}

.timeline .follow-detail .info .title {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
}

.timeline .follow-detail .info p {
    margin-bottom: 0;
    color: #969696;
    line-height: 20px;
}

.timeline-followed {
    margin-top: 4px;
    margin-bottom: 0;
    border: 1px solid hsla(0, 0%, 59%, .6);
    background: none;
}

.timeline-followed.user-follow-button-on-hover {
    background-color: #efefef;
}

.collection .main .main-top .info {
    margin-top: 10px;
    padding-left: 100px;
    font-size: 14px;
    color: #969696;
}

.collection .main .main-top {
    margin-bottom: 35px;
}

.collection .user-sidebar .share {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
    line-height: 30px;
}

.collection .user-sidebar .share span {
    color: #333;
    font-size: 14px;
    vertical-align: middle;
}

.collection .user-sidebar .share .option {
    margin-left: 10px;
    color: #333;
}

.collection .user-sidebar .share .option:hover {
    text-decoration: none;
}

.collection .user-sidebar .share i {
    font-size: 22px;
    vertical-align: middle;
}

.ic-share-weibo:before {
    content: "\E626";
}

.ic-share-wechat:before {
    content: "\E625";
}

.ic-share-more:before {
    content: "\E623";
}

.collection .user-sidebar .share .option:hover .ic-share-weibo {
    color: #e05244;
}

.collection .user-sidebar .share .option:hover .ic-share-wechat {
    color: #00bb29;
}

.collection .user-sidebar .share .option:hover .ic-share-more {
    color: #999;
}

.collection .user-sidebar .list {
    margin-bottom: 20px;
    padding-bottom: 10px;
    list-style: none;
    border-bottom: 1px solid #f0f0f0;
    font-size: 0;
    clear: both;
}

.collection .user-sidebar .list li {
    margin-bottom: 10px;
}

.collection .user-sidebar .list li a {
    display: inline-block;
    vertical-align: middle;
}

.collection .user-sidebar .avatar, .collection .user-sidebar .avatar-collection {
    margin-right: 5px;
    width: 32px;
    height: 32px;
}

.collection .user-sidebar .avatar img {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.collection .user-sidebar .name {
    position: relative;
    max-width: 236px;
    vertical-align: middle;
    top: 1px;
    font-size: 14px;
    color: #333;
}

.collection .user-sidebar .tag {
    display: inline-block;
    vertical-align: middle;
    padding: 1px 3px;
    margin-left: 2px;
    border-radius: 3px;
    font-size: 12px;
    color: #969696;
    border: 1px solid #969696;
}

.collection .user-sidebar .list.collection-follower li:first-child {
    margin-left: -3px;
}

.collection .user-sidebar .list.collection-follower li {
    display: inline-block;
}

.collection .user-sidebar .list.collection-follower li a {
    margin-right: -10px!important;
    width: 32px;
    height: 32px;
}

.collection .user-sidebar .list.collection-follower li img {
    border: 3px solid #fff;
    background-color: #fff;
}

.collection .user-sidebar .list.collection-follower .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
}

.collection .user-sidebar .more-follower {
    position: relative;
}

.collection .user-sidebar .function-btn {
    font-size: 13px;
    color: #969696;
}

.collection .user-sidebar .function-btn {
    box-sizing: border-box;
    margin-left: 3px;
    width: 32px;
    height: 32px;
    border: 3px solid #fff;
    border-radius: 50%;
    background-color: #f0f0f0;
    color: #999;
    text-align: center;
    line-height: 2;
}

.ic-others:before {
    content: "\E633";
}

.collection .user-sidebar .function-btn:hover {
    background-color: #d5d5d5;
    color: #2f2f2f;
    text-decoration: none;
}

.collection .user-sidebar .user-action a {
    vertical-align: middle;
    font-size: 13px;
    color: #969696;
    margin-right: 0!important;
}

.collection .user-sidebar .user-action a:hover {
    color: #2f2f2f;
}

.included-modal-header {
    padding: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.included-modal-header .close {
    margin-top: -2px;
}

.included-modal-title {
    margin: 0;
    line-height: 1.42857;
    font-size: 17px;
    font-weight: 700;
    color: #333;
    margin-bottom: 4px;
}

.included-modal-header .new-note-btn {
    padding-left: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #42c02e;
    vertical-align: middle;
}

.included-modal-header .close {
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    float: right;
    line-height: 1;
    color: #000;
    opacity: .2;
    filter: alpha(opacity=20);
    font-weight: 200;
    font-size: 26px;
    outline: none;
    text-shadow: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.included-modal-header .close:focus, .included-modal-header .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
    filter: alpha(opacity=50);
}

.included-modal-header .notice {
    font-size: 13px;
    vertical-align: middle;
    color: #969696;
}

.included-modal-header div {
    margin: 20px 0 0;
    position: relative;
}

.included-modal-header:after {
    clear: both;
}

.included-modal-header div .search-input {
    padding: 0 40px 0 20px;
    width: 100%;
    height: 35px;
    font-size: 14px;
    background-color: hsla(0, 0%, 71%, .2);
    border: none;
    border-radius: 40px;
}

.included-modal-header div .search-input::-webkit-input-placeholder {
    color: #999;
}

.included-modal-header div .search-btn {
    position: absolute;
    top: 0;
    right: 6px;
    width: 30px;
    height: 30px;
    color: #969696;
    text-align: center;
}

.included-modal-header div .ic-search {
    margin: 9px -1px 0 0;
    display: block;
}

.included-modal-header .ic-search {
    font-size: 17px;
}

.included-modal-header .ic-search:before {
    content: "\E618";
}

.included-modal-body {
    position: relative;
    padding: 0;
    height: 460px;
    overflow: auto;
}

.included-modal-body ul {
    margin: 0;
    list-style: none;
}

.included-modal-body li {
    display: block!important;
    position: relative;
    padding: 20px 100px 20px 25px;
    font-size: 15px;
    border-bottom: 1px solid #e6e6e6;
}

.included-modal-body .note-name {
    display: inherit;
    vertical-align: middle;
    max-width: 85%;
    color: #333;
}

.included-modal-body .action-btn {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -12px;
    padding: 2px 8px;
    font-size: 13px;
    border-radius: 20px;
    line-height: normal;
    color: #42c02e;
    border: 1px solid #42c02e;
}

.included-modal-body .push:hover {
    background-color: rgba(66, 192, 46, .05);
}

.included-modal-body .remove {
    color: #ea6f5a;
    border: 1px solid #ea6f5a;
}

.included-modal-body .remove:hover {
    background-color: rgba(236, 97, 73, .05);
}



.included-modal-body .has-add {
    color: #969696;
    font-size: 13px;
    vertical-align: middle;
}

.modal-notes-placeholder {
    padding: 25px 20px 25px 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
}


@keyframes shortLoading {
    0% {
        width: 20%
    }

    50% {
        width: 40%
    }

    to {
        width: 20%
    }
}

.modal-notes-placeholder .text {
    width: 40%;
    height: 15px;
    background-color: #eaeaea;
    -webkit-animation: shortLoading 1s ease-in-out -.5s infinite;
    animation: shortLoading 1s ease-in-out -.5s infinite;
}

.modal-notes-placeholder .btn {
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default!important;
    margin: -18px 0 0!important;
    width: 44px;
    height: 24px;
    background-color: #eaeaea;
    border-radius: 20px;
    float: right;
}

.included-modal-body .default {
    padding-top: 200px;
    font-size: 15px;
    color: #999;
    text-align: center;
}

.delete-modal-header {
    padding: 20px;
    border-bottom: 1px solid #F0F0F0;
}

.delete-modal-header h4 {
    margin: 0;
    color: #333;
    text-align: left;
    font-size: 18px;
}

.delete-modal-body {
    padding: 20px 20px 20px 20px;
    font-size: 15px;
    color: #333;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.delete-modal-body input {
    margin-top: 10px;
    padding: 8px 10px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}

.delete-modal-footer {
    padding: 20px;
    height: 80px;
    background-color: #fff;
}

.delete-modal-footer button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    float: right;
    font-size: 13px;
}

.delete-modal-footer .submit {
    margin-left: 30px;
    color: #ea6f5a;
    border-color: rgba(236, 97, 73, .7);
    padding: 4px 12px;
    border: 1px solid;
    border-radius: 20px;
}

.delete-modal-footer .submit:hover {
    border-color: #ea6f5a;
    background-color: rgba(236,97,73,.05);
}

.delete-modal-footer .cancel {
    margin-top: 5px;
    color: #969696;
}

.delete-modal-footer .cancel:hover {
    color: #333;
}

.delete-modal-body input::-webkit-input-placeholder {
    color: #999;
}