.topic-box {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.topic-nav {
	width: 900px;
	height: 40px;
	background: #f6f6f6;
}

.topic-nav li {
	float: left;
	line-height: 40px;
}

.topic-nav span {
	font-size: 14px;
}

.topic-nav-sep {
	padding: 0 8px;
}

.editor-box-wrap {
	width: 900px;
	min-height: 400px;
	background: #fff;
}

.topic-edit-header {
	clear: both;
}