.topic-box {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.topic-nav {
	width: 900px;
	height: 40px;
	padding-left: 20px;
	background: #f6f6f6;
}

.topic-nav a {
	color: #80bd01;
}

.topic-nav li {
	float: left;
	line-height: 40px;
}

.topic-nav span {
	font-size: 14px;
}

.topic-nav-sep {
	padding: 0 8px;
}

.publish-label {
	color: #999;
}

.editor-box-wrap {
	width: 900px;
	padding-top: 24px;
	min-height: 720px;
	background: #fff;
}

.topic-area {
	clear: both;
	padding: 0 20px 1px 20px;
}

.CodeMirror {
    height: 400px;
}

.topic-content .ivu-form-item-content {
	margin-left: 0!important;
}

.topic-submit .ivu-form-item-content {
	margin-left: 0!important;
}

