body {
    background: #f4f5f5;
}

.content-box {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

.handbooks {
    width: 700px;
    box-shadow: 0 1px 3px 0 rgba(4, 5, 13, .23);
}

.handbooks .item {
    display: flex;
    padding: 25px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #e6e8e8;
}

.handbooks .item:hover {
    text-decoration: none;
    background-color: #f7f9f9;
}

.handbooks .item:not(:last-child) {
    border-bottom: 1px solid #e6e8e8;
}

.handbooks .poster {
    width: 100px;
    height: 140px;
    flex-shrink: 0;
    box-shadow: 3px 4px 12px 0 rgba(0, 0, 0, .2);
    overflow: hidden;
    background-color: #ccc;
}

.handbooks .poster .poster-img {
    height: 100%;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.handbooks .lazy {
    position: relative;
}

.handbooks .info {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 14px;
    color: #2e3135;
    padding-left: 22px;
}

.handbooks .info .title {
    color: inherit;
    font-size: 20px;
    font-weight: 400;
}

.handbooks .info .title .presale {
    display: inline-block;
    vertical-align: middle;
    padding-left: 6px;
    padding-right: 6px;
    height: 20px;
    margin-top: -3px;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    cursor: default;
    margin-right: 8px;
    border-radius: 2px;
    background-color: #ed7b11;
}

.handbooks .info .desc {
    margin-top: 5px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #71777c;
}

.handbooks .info .author {
    display: flex;
    align-items: center;
    margin-top: 6px;
    overflow: hidden;
    white-space: nowrap;
}

.handbooks .info .author .author-info {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.handbooks .info .author .user {
    display: inline-flex;
    align-items: center;
    color: #000;
}

.handbooks .info .author .hero {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 8px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.handbooks .info .author .author-desc {
    color: #71777c;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.handbooks .info .author .author-desc .selfDescription {
    margin-left: 10px;
    margin-right: 10px;
}

.handbooks .info .other {
    margin-top: 6px;
    display: flex;
    align-items: center;
}

.handbooks .info .other .price {
    color: #ed7b11;
    font-size: 18px;
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
}

.handbooks .info .other span.message {
    opacity: .6;
    font-size: 13px;
    color: #71777c;
}

.handbooks .info .other span.message.presale {
    color: #ed7b11;
}

.handbooks .info .footer-bar {
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.handbooks-aside {
    position: absolute;
    right: 0;
    top: 0;
    width: 240px;
}

.copy-right-box {
    width: 960px;
    margin: 0 auto;
}

.copy-right {
    width: 700px;
    text-align: right;
    font-size: 14px;
    opacity: .7;
    color: #3a4e64;
    margin-top: 40px;
    margin-bottom: 40px;
}

.copy-right a {
    color: #3a4e64;
}

.copy-right a:hover {
    text-decoration: none;
}

.content-box .dot {
    margin: 0;
    line-height: 24px;
    color: #909090;
}

.content-box .aside {
    position: absolute;
    right: 0;
    top: 0;
    width: 240px;
}

.content-box .aside .sticky-section {
    position: fixed;
    top: 127px;
}

.content-box .aside .sticky-section .section {
    width: 240px;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(4, 5, 13, .23);
    background-color: #fff;
}

.content-box .aside .sticky-section .section .slogan {
    padding: 15px 16px;
    border-bottom: 1px solid #e6e8e8;
}

.content-box .aside .sticky-section .section .slogan .title {
    font-size: 15px;
    color: #000;
}

.content-box .aside .sticky-section .section .slogan .desc {
    margin-top: 8px;
    line-height: 1.4;
    font-size: 14px;
    color: #646464;
}

.content-box .aside .sticky-section .section .wechat-qr {
    padding: 12px 16px;
}

.content-box .aside .sticky-section .section .wechat-qr .title {
    font-size: 15px;
}

.content-box .aside .sticky-section .section .wechat-qr .qr-img {
    margin-top: 9px;
    height: 95px;
    background: url(https://b-gold-cdn.xitu.io/v3/static/img/wechat-qr.f1926e7.png) no-repeat center 0;
    background-size: contain;
    border-radius: 2px;
}

.content-box .aside .sticky-section .help {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box .aside .sticky-section .help .items {
    flex-grow: 1;
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #71777b;
}

.content-box .aside .sticky-section .help .items:first-child {
    position: relative;
}

.content-box .aside .sticky-section .help .items img {
    width: auto;
    height: 28px;
}

.content-box .aside .sticky-section .help .items .title {
    margin-top: 8px;
    font-size: 14px;
}

.content-box .book-new-user-award-aside {
    display: flex;
    cursor: pointer;
    padding: 13px 0;
    border-radius: 2px;
    height: 80px;
    background: #fd4243;
    background: -webkit-linear-gradient(342deg, #f87554, #f0232f);
    background: linear-gradient(108deg, #f87554, #f0232f);
    background: -webkit-linear-gradient(-12deg, #f87554, #f0232f);
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 rgba(4, 5, 13, .23);
}

.content-box .aside .sticky-section .book-new-user-ticket-for-book-index {
    margin-top: 10px;
}

.content-box .book-new-user-award-aside .pic {
    margin: 0 12px;
    width: 50px;
    flex-shrink: 0;
}

.content-box .book-new-user-award-aside .pic img {
    width: 100%;
    display: block;
}

.content-box .book-new-user-award-aside .content {
    position: relative;
    flex-grow: 1;
}

.content-box .book-new-user-award-aside .content .title {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    height: 25px;
}

.content-box .book-new-user-award-aside .content .desc {
    margin-top: 2px;
}

.content-box .book-new-user-award-aside .content .desc .get {
    width: 60px;
    height: 20px;
    color: #fff;
    line-height: 20px;
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #fff;
}

.content-box .aside .sticky-section .help .items:first-child:after {
    content: "";
    position: absolute;
    width: 0;
    height: 45px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-right: 1px solid #efefef;
}