{% extends '../../layout/default.njk' %}

{% block main %}
<div class="container">
    <div class="tag-info-box">
        <div class="tag-info">
            <div class="title">{{tag.name}}</div>
            <div id="followerAndArticleCount" class="tag-meta">{{tag.followerCount}} 关注，{{tag.articleCount}} 文章</div>
        </div>
    </div>
    <div id="tag-entry-list-box"></div>
</div>
{% endblock %}

{% block pageData %}
<script>
    var tag = {{ tag | dump | safe }};
    var isFollowed = {{isFollowed}};
</script>
{% endblock %}

{% block devjs %}
    {{ loadjs('entry/tag/tagDetail.js') }}
{% endblock %}