.comments .comment {
    display: flex;
    padding: 15px 0 0;
}

.comment-content-area {
    flex: 1 1 auto;
    margin-left: 9px;
}

.comments .comment:last-child .sub-comment-list {
    margin-bottom: 0;
}

.subcomment-content-area {
    flex: 1 1 auto;
    margin-left: 9px;
    margin-right: 12px;
    padding-bottom: 12px;
}

.sub-comment-list .sub-comment:not(:last-child) .subcomment-content-area {
    border-bottom: 1px solid #f1f1f1;
}

.comment-content-area .meta-box, .subcomment-content-area .meta-box {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.2;
    white-space: nowrap;
}

.comment-content-area .author .name:hover, .subcomment-content-area .author .name:hover {
    text-decoration: none;
}

.user-popover-box {
    display: inline;
    position: relative;
    z-index: 1;
}

.meta-box .position {
    color: #8a9aa9;
    font-size: 14px;
    margin-left: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 192px;
}

.meta-box .username {
    flex: 1 1 auto;
    width: 0;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meta-box .username:hover {
    text-decoration: none;
}

.rank {
    margin-left: 4px;
    vertical-align: middle;
    height: auto;
    line-height: normal;
}

.meta-box .author-badge-text {
    margin-left: 4px;
}

.comments .lastchild-flag:not(:last-child) .comment-content-area {
    border-bottom: 1px solid #f1f1f1;
}

.article .author {
    margin: 0 0 40px;
}

.comments .comment .author {
    margin-bottom: 5px;
}

.comments .comment .author-tag {
    margin-left: 2px;
    padding: 0 2px;
    font-size: 12px;
    color: #ea6f5a;
    border: 1px solid #ea6f5a;
    border-radius: 3px;
    vertical-align: middle;
}

.comments .comment .tool-group a {
    margin-right: 10px;
    font-size: 0;
    color: #969696;
    display: inline-block;
    vertical-align: top;
    line-height: normal;
}

.comments .comment .tool-group a:hover {
    text-decoration: none;
    color: #333;
}

.comments .comment .tool-group a span {
    vertical-align: middle;
    font-size: 14px;
}

.comments .comment .tool-group a i {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
}

.ic-comment:before {
    content: "\E639";
}

.comments .comment .report {
    float: right;
    margin: 0 0 0 10px;
    display: none!important;
}

.v-tooltip-container {
    position: relative;
    z-index: 1;
}

.v-tooltip-container, .v-tooltip-content {
    display: inline-block;
}

.v-tooltip-container .v-tooltip-content {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.comments .comment .sub-tool-group a {
    margin-left: 10px;
    color: #969696;
}

.comments .comment .sub-tool-group a:hover {
    color: #333;
    text-decoration: none;
}

.comments .comment .sub-tool-group a i {
    margin-right: 5px;
    font-size: 18px;
    vertical-align: middle;
}

.ic-comment:before {
    content: "\E639";
}

.comments .comment .sub-tool-group a span {
    vertical-align: middle;
}

.comments .comment .sub-tool-group a span {
    vertical-align: middle;
}

.comments .comment .more-comment {
    font-size: 14px;
    color: #969696;
    border: none;
}

.ic-subcomment:before {
    content: "\E698";
}

.comments .comment .line-warp {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #d9d9d9;
}

.no-border {
    border: none!important;
}

.comments .c-load-more {
    display: block;
    color: #3194d0;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    background-color: #f4f5f6;
    margin-top: 10px;
    cursor: pointer;
}

.comments .c-load-more:hover {
    text-decoration: none;
}

.comments .top-title {
    padding-bottom: 20px;
    font-size: 17px;
    font-weight: 700;
    border-bottom: 0!important;
}

.comments .top-title span {
    display: inline-block;
    line-height: 24px;
}

.comments .top-title .author-only {
    margin-left: 10px;
    padding: 4px 8px;
    font-size: 12px;
    color: #969696;
    border: 1px solid #e1e1e1;
    border-radius: 12px;
}

.comments .top-title .author-only.active {
    color: #fff;
    border: 1px solid #ea6f5a;
    background-color: #ea6f5a;
}

.comments .top-title .author-only:focus, .comments .top-title .author-only:hover {
    text-decoration: none;
}

.comments .top-title .close-btn {
    margin-left: 10px;
    font-size: 12px;
    color: #969696;
}

.pull-right {
    float: right!important;
}

.comments .pull-right a {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #969696;
    display: inline-block;
}

.comments .pull-right .active, .comments .pull-right a:hover {
    color: #2f2f2f;
    text-decoration: none;
}

.comments .open-block {
    padding: 30px 0 50px;
    text-align: center;
    border-top: 1px solid #f0f0f0;
}

.comments .open-block .open-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #969696;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
}

.comments .open-block .open-btn:hover {
    text-decoration: none;
}

.comments .comment-list .normal-comment-list {
    margin-top: 30px;
}

.comments .comment-list .top-title {
    padding-bottom: 20px;
    font-size: 17px;
    font-weight: 700;
    border-bottom: 1px solid #f0f0f0;
}

.comments .comment-list .top-title span {
    vertical-align: middle;
}

.normal-comment-list .close-comment {
    background: url(../../images/icon_comment_close.png) no-repeat;
    background-size: contain;
    width: 226px;
    height: 92px;
    margin: 30px auto 20px;
}

.normal-comment-list .close-comment, .normal-comment-list .no-author-comment, .normal-comment-list .no-comment {
    width: 226px;
    height: 92px;
    margin: 30px auto 20px;
}

.normal-comment-list .text {
    margin-bottom: 50px;
    text-align: center;
    font-size: 12px;
    color: #969696;
}

.normal-comment-list .text a, .normal-comment-list .text a:hover {
    color: #3194d0;
    text-decoration: none;
}

.normal-comment-list .top-title .close-tip {
    float: right;
    font-size: 12px;
    color: #969696;
}

.all-comment-load {
    text-align: center;
    border-top: 1px solid #f0f0f0;
    padding-top: 40px;
    color: #969696;
}

.normal-comment-list .comment-user-name, .normal-comment-list .comment-user-name:hover {
    color: #3194d0!important;
    text-decoration: none;
}

.comment-content-box {
    display: inline;
}

.comment-content-box img {
    max-width: 100%;
}

.comment-wrap {
    margin-top: 7px;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-all;
    color: #505050;
}

.comment-wrap pre, .comment-content-box pre {
    word-spacing: normal;
    word-wrap: normal;
    word-break: break-word!important;
    word-break: break-all;
    overflow: auto;
}

.comment-wrap img {
    max-width: 100%;
}

.comment-wrap p {
    margin: 0;
    line-height: 1.5;
    font-size: 14px;
    word-break: break-word!important;
    word-break: break-all;
}

.comment-operate {
    display: flex;
    margin: 12px 0;
    font-weight: 400;
}

.comment-time {
    font-size: 14px;
    color: #8a93a0;
    cursor: default;
}

.comment-action-box {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    min-width: 100px;
    user-select: none;
}

.comment-action-box .like-action {
    display: flex;
    align-items: center;
    margin-left: 6px;
    cursor: pointer;
}

.comment-action-box .action-title {
    margin-left: 3px;
    color: #8a93a0;
    font-size: 12px;
    height: 16px;
}

.comment-action-box .like-action.active .action-title {
    color: #37c700;
}

.comment-action-box .comment-reply {
    display: flex;
    align-items: center;
    margin-left: 6px;
    cursor: pointer;
}

.comment-content-box div, .comment-content-box p {
    display: inline;
    white-space: pre-wrap;
    word-break: break-word;
    font-size: 16px!important;
}

.comments .sub-comment-list {
    margin: 15px 0;
    padding: 0 0 0 12px;
    background-color: #fafbfc;
    border-radius: 3px;
}

.sub-comment {
    display: flex;
    padding-top: 12px;
}

.fetch-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.fetch-more-comment {
    display: block;
    padding: 12px 0;
    font-size: 12px;
    text-align: center;
    color: #406599;
    cursor: pointer;
    user-select: none;
}

.sub-content-box {
    margin-top: 6px;
    font-size: 14px;
}

.sub-comment-wrap, .sub-comment-wrap p {
    display: inline;
}

.sub-content-box .user-popover-box a.be-replied {
    color: #406599;
}

.no-border-bottom {
    border-bottom: none!important;
}

.no-border-top {
    border-top: none!important;
}

.comments .avatar {
    margin-right: 0!important;
    width: 38px;
    height: 38px;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
}

.avatar img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 50%;
    vertical-align: middle;
    cursor: pointer;
}

.comments .avatar img {
    border: none;
}

.author .info {
    vertical-align: middle;
    display: inline-block;
    margin-left: 0;
}

.author .meta {
    margin-top: 5px;
    font-size: 12px;
    color: #969696;
}

.author .meta span {
    padding-right: 5px;
}

.comment-avatar-area {
    height: 40px;
    z-index: 1;
}