{% extends '../../layout/default.njk' %}

{% block main %}
<div id="mainBox">
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block pageData %}
<script>

</script>
{% endblock %}

{% block devjs %}
  {{ loadjs('entry/user/user.js') }}
{% endblock %}