<ul class="pagination">
  <li><a>上一页</a></li>
  <li><a>1</a></li>
  <li><a>2</a></li>
  <li><a href="javascript:void(null)" class="active">3</a></li>
  <li><a>4</a></li>
  <li><a>5</a></li>
  <li><a>6</a></li>
  <li><a>下一页</a></li>
</ul>