<ul class="timeline">
  {# 赞了评论 #}
  <li>
    <div class="author">
      <a class="avatar" href="">
        <img src="//upload.jianshu.io/users/upload_avatars/13401410/0fe30773-58b7-4671-9b0d-e676c7571120.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180">
      </a>
      <div class="info">
        <a class="username" href="/u/8a8645da977e">菀十四</a>
        <em> · </em>
        <span> 赞了评论 · 12.1 15:50</span>
      </div>
    </div>
    <p class="comment">您好，我很喜欢您的文字，我愿代表公众号【小羊三三】向您发出约稿函，您可以在公众号首页查看详细约稿事宜，十分期待您的投稿来信。</p>
    <blockquote>
      <div class="origin-author single-line">
        <a href="/u/b0bb12806080">小羊三三</a>
        <span>评论自<a href="/p/fdf5d0006618">隔壁的邻居搬走了</a></span>
      </div>
    </blockquote>
  </li>

  {# 发表了评论 #}
  <li>
    <div class="author">
      <a class="avatar" href="">
        <img src="//upload.jianshu.io/users/upload_avatars/13401410/0fe30773-58b7-4671-9b0d-e676c7571120.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180">
      </a>
      <div class="info">
        <a class="username" href="/u/8a8645da977e">菀十四</a>
        <em> · </em>
        <span> 发表了评论 · 12.1 15:50</span>
      </div>
    </div>
    <p class="comment"><a href="" class="maleskine-author" target="_blank">@飞叶萧萧</a> Kitty快点好起来❤</p>
    <blockquote>
      <a class="title" href="/">Kitty病了。</a>
      <p class="abstract">在我又一次想要出去找工作的时候，Kitty又生病了！ 看着她遭受病痛，我心如刀割。 在这一刻，我不要什么工作，也不要什么发展，我只有一个念头，我要我的宝贝好好的。 或许，这就...</p>
      <div class="article-meta">
        <div class="origin-author">
          <a href="/users/dbcbadebc6b1">飞叶萧萧</a>
        </div>
        <a href="/p/4b331635251a">
          <i class="iconfont ic-list-read"></i> 22
        </a>
        <a href="/p/4b331635251a">
          <i class="iconfont ic-list-comments"></i> 1
        </a>
        <span><i class="iconfont ic-list-like"></i> 0</span>
      </div>
    </blockquote>
  </li>

  {# 发表了文章, 或喜欢了文章 #}
  <li>
    <div class="author">
      <a class="avatar" href="">
        <img src="//upload.jianshu.io/users/upload_avatars/13401410/0fe30773-58b7-4671-9b0d-e676c7571120.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180">
      </a>
      <div class="info">
        <a class="username" href="/u/8a8645da977e">菀十四</a>
        <em> · </em>
        <span> 发表了文章 · 12.1 15:50</span>
      </div>
    </div>
    <a class="title" href="/2">烟火｜隔壁的邻居搬走了</a>
    <p class="abstract">司机师傅是个光头，皮肤黝黑偏瘦，年龄指定大于五十岁，因为他已经是当爷爷的人了。 从A点到B点本是条直线的距离，可因为修路的缘故就必须绕到C点才能到达B点。途中七拐八拐，师傅也...</p>
    <div class="article-meta">
      <a href="/p/067853add947">
        <i class="iconfont ic-list-read"></i> 110
      </a>
      <a href="/p/067853add947">
        <i class="iconfont ic-list-comments"></i> 2
      </a>
      <span><i class="iconfont ic-list-like"></i> 6</span>
    </div>
  </li>

  {# 发表了文章, 或喜欢了文章 #}
  <li>
    <div class="author">
      <a class="avatar" href="">
        <img src="//upload.jianshu.io/users/upload_avatars/13401410/0fe30773-58b7-4671-9b0d-e676c7571120.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180">
      </a>
      <div class="info">
        <a class="username" href="/u/8a8645da977e">菀十四</a>
        <em> · </em>
        <span> 喜欢了文章 · 12.1 15:50</span>
      </div>
    </div>
    <a class="title" href="/2">烟火｜隔壁的邻居搬走了</a>
    <p class="abstract">司机师傅是个光头，皮肤黝黑偏瘦，年龄指定大于五十岁，因为他已经是当爷爷的人了。 从A点到B点本是条直线的距离，可因为修路的缘故就必须绕到C点才能到达B点。途中七拐八拐，师傅也...</p>
    <div class="article-meta">
      <div class="origin-author">
        <a href="/users/dbcbadebc6b1">飞叶萧萧</a>
      </div>
      <a href="/p/067853add947">
        <i class="iconfont ic-list-read"></i> 110
      </a>
      <a href="/p/067853add947">
        <i class="iconfont ic-list-comments"></i> 2
      </a>
      <span><i class="iconfont ic-list-like"></i> 6</span>
    </div>
  </li>

  {# 关注了作者 #}
  <li>
    <div class="author">
      <a class="avatar" href="">
        <img src="//upload.jianshu.io/users/upload_avatars/13401410/0fe30773-58b7-4671-9b0d-e676c7571120.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180">
      </a>
      <div class="info">
        <a class="username" href="/u/8a8645da977e">菀十四</a>
        <em> · </em>
        <span> 关注了作者 · 12.1 15:50</span>
      </div>
    </div>
    <div class="follow-detail">
      <div class="info">
        <a class="avatar" href="/u/dbcbadebc6b1">
          <img src="//upload.jianshu.io/users/upload_avatars/2819330/6b6d319263c8?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180">
        </a>
        <a id="follow-66"  {% if followed %}style="display: none;"{% endif %} class="btn btn-success follow followbtn"><i class="iconfont ic-follow"></i><span>关注</span></a>
        <button id="followed-66" {% if not followed %}style="display: none;"{% endif %} class="on user-follow-button-on user-follow-button followed followedbtn timeline-followed"><i class="iconfont"></i><span >已关注</span></button>
        <a class="title" href="/u/dbcbadebc6b1">飞叶萧萧</a>
        <p>写了 3071 字，被 3 人关注，获得了 16 个喜欢</p>
      </div>
    </div>
  </li>

  {# 加入了简书 #}
  <li>
    <div class="author">
      <a class="avatar" href="">
        <img src="//upload.jianshu.io/users/upload_avatars/13401410/0fe30773-58b7-4671-9b0d-e676c7571120.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/180/h/180">
      </a>
      <div class="info">
        <a class="username" href="/u/8a8645da977e">菀十四</a>
        <em> · </em>
        <span> 加入了{{siteName}} · 12.1 15:50</span>
      </div>
    </div>
  </li>
</ul>