body {
    background: #f4f5f5;
}

.book-view-box {
    width: 960px;
    margin: 0 auto;
}

.book-view {
    width: 665px;
    margin-bottom: 40px;
    display: inline-block;
}

.result-list {
    width: 665px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}


.handbooks {
    width: 665px;
    box-shadow: 0 1px 3px 0 rgba(4, 5, 13, .23);
}

.handbooks .item {
    display: flex;
    padding: 25px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #e6e8e8;
}

.handbooks .item:hover {
    text-decoration: none;
    background-color: #f7f9f9;
}

.handbooks .item:not(:last-child) {
    border-bottom: 1px solid #e6e8e8;
}

.handbooks .poster {
    width: 100px;
    height: 140px;
    flex-shrink: 0;
    box-shadow: 3px 4px 12px 0 rgba(0, 0, 0, .2);
    overflow: hidden;
    background-color: #fff;
}

.handbooks .poster .poster-img {
    height: 100%;
    width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.handbooks .lazy {
    position: relative;
}

.handbooks .info {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 14px;
    color: #2e3135;
    padding-left: 22px;
}

.handbooks .info .title {
    color: inherit;
    font-size: 20px;
    font-weight: 400;
}

.handbooks .info .title:hover {
    text-decoration: none;
    color: #ea6f5a;
}

.handbooks .info .title .presale {
    display: inline-block;
    vertical-align: middle;
    padding-left: 6px;
    padding-right: 6px;
    height: 20px;
    margin-top: -3px;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    cursor: default;
    margin-right: 8px;
    border-radius: 2px;
    background-color: #ed7b11;
}

.handbooks .info .desc {
    margin-top: 5px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #71777c;
}

.handbooks .info .author {
    display: flex;
    align-items: center;
    margin-top: 6px;
    overflow: hidden;
    white-space: nowrap;
}

.handbooks .info .author .author-info {
    flex-shrink: 0;
    display: flex;
    align-items: center;
}

.handbooks .info .author .user {
    display: inline-flex;
    align-items: center;
    color: #000;
}

.handbooks .info .author .user:hover {
    text-decoration: none;
}

.handbooks .info .author .hero {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 8px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.handbooks .info .author .author-desc {
    color: #71777c;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.handbooks .info .author .author-desc .selfDescription {
    margin-left: 10px;
    margin-right: 10px;
}

.handbooks .info .other {
    margin-top: 6px;
    display: flex;
    align-items: center;
}

.handbooks .info .other .price {
    color: #ed7b11;
    font-size: 18px;
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
}

.handbooks .info .other span.message {
    opacity: .6;
    font-size: 13px;
    color: #71777c;
}

.handbooks .info .other span.message.presale {
    color: #ed7b11;
}

.handbooks .info .footer-bar {
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.side-box {
    float: right;
}

.recommended-books, .recommended-authors {
    border-radius: 2px;
    overflow: hidden;
    background: #fff;
    margin-bottom: 20px;
    font-size: 13px;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.recommended-books {
    padding: 0; 
}

.recommended-books .book-item {
    padding: 15px 16px;
    overflow: hidden;
    margin-bottom: 0;
    cursor: pointer;
}

// .recommended-books .book-item:hover {
//     background: #f8f8f8;
// }

.recommended-books .book-item-img {
    float: left;
    width: 52px;
    height: 72px;
}

.recommended-books .book-item-info {
    float: left;
    width: 180px;
    margin-left: 10px;
    text-align: left;
}

.recommended-books .book-item-title {
    color: #333;
    font-weight: 500;
    font-size: 14px;
    word-break: break-all;
}

.book-item-buycount {
    color: #878c90;
    float: left;
    height: 20px;
    line-height: 20px;
}

.try-read {
    height: 20px;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    background-color: #007fff;
    float: right;
}

.try-read:after {
    width: 0;
    height: 0;
    content: "";
    display: inline-block;
    margin-left: 3px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 3px 0 3px 3px;
}

.recommended-books .title, .recommended-authors .title {
    padding: 16px 16px 0 16px;
    text-align: left;
    border-bottom: 1px solid hsla(0, 0%, 58.8%, .1);
    padding-bottom: 12px;
}

.recommended-books .title span, .recommended-authors .title span {
    font-size: 14px;
    color: #969696;
}

.recommended-authors .title .page-change {
    float: right;
    font-size: 14px;
    color: #969696;
}

.recommended-authors .title .page-change i {
    display: inline-block;
    line-height: 1;
    transition: .5s ease;
}