.book-chapter {
    position: relative;
    display: flex;
}

.book-summary {
    width: 320px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    cursor: default;
    flex-shrink: 0;
    z-index: 2;
    border-right: 1px solid #ddd;
    transition: all .3s cubic-bezier(.4, 0, .2, 1);
    will-change: left;
}

.book-summary .book-summary-inner {
    transition: all .3s cubic-bezier(.4, 0, .2, 1);
    background-color: #f0f1f4;
    position: relative;
    z-index: 1;
    height: 100%;
}

.book-summary .book-summary-inner .book-summary__header {
    height: 60px;
    display: flex;
    padding-left: 16px;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.book-summary .book-summary-inner .book-summary__header .logo {
    height: 30px;
    width: auto;
}

.book-summary .book-summary-inner .book-summary__header .logo img {
    height: 100%;
    margin: 0;
}

.book-summary .book-summary-inner .book-summary__header .label {
    margin-left: 13px;
    margin-right: 25px;
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    line-height: 24px;
    font-size: 15px;
    font-weight: 500;
    color: #f06047;
    position: relative;
    background-color: rgba(231, 124, 106, 0.2);
}

.book-summary .book-summary-inner .book-summary__header .label:hover {
    text-decoration: none;
}

.book-summary .book-summary-inner .book-summary__header .label:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-color: rgba(231, 124, 106, 0.3) #fff #fff rgba(231, 124, 106, 0.3);
    border-style: solid;
    border-width: 5px;
}

.book-summary .book-summary-inner .book-directory {
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

.book-summary .book-summary-inner .book-directory.bought {
    height: calc(100% - 120px);
}

.section {
    position: relative;
    min-height: 75px;
    cursor: default;
    padding-left: 20px;
    padding-right: 35px;
    border-radius: 2px;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #8f9193;
}

.section {
    min-height: 60px;
    padding-left: 16px;
}

.section:hover {
    text-decoration: none;
    color: #333;
    background-color: #e9e9e9;
}

.section.section-link {
    cursor: pointer;
}

.book-content {
    width: 100%;
    margin-left: 320px;
    transition: all .3s cubic-bezier(.4, 0, .2, 1);
}

.section.route-active {
    color: #333;
    background-color: #e0e0e0;
}

.section .step {
    align-items: center;
    display: flex;
    margin-right: 15px;
    align-self: stretch;
    position: relative;
}

.section .step {
    margin-right: 10px;
}

.section .step:before {
    top: 0;
}

.section .step:after, .section .step:before {
    z-index: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background-color: #b5b7ba;
    height: 50%;
    content: "";
}

.book-summary .section:first-child .step:before {
    content: none;
}


.book-summary .section:last-child .step:after {
    content: none;
}

.section .step .step-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    font-size: 16px;
    border-radius: 50%;
    border: 2px solid #b5b7ba;
    color: #b5b7ba;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
    z-index: 1;
}

.section.route-active .step :after {
    background-color: #b5b7ba;
}

.section .step .step-btn {
    width: 30px;
    height: 30px;
    font-size: 14px;
}

.section-read .step-btn {
    border-color: #ea6f5a!important;
    color: #ea6f5a!important;
}

.section-read::before {
    background-color: #ea6f5a!important;
}

.section-read::after {
    background-color: #ea6f5a!important;
}

.section-current::after {
    background-color: #b5b7ba!important;
}

.section .step:after, .section .step:before {
    z-index: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background-color: #b5b7ba;
    height: 50%;
    content: "";
}

.section .step:after {
    top: 50%;
}

.section.read .step:after, .section.read .step:before {
    background-color: #007fff;
}

.section.route-active .step :after {
    background-color: #b5b7ba;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.section .center {
    flex-grow: 1;
    padding-top: 12px;
    padding-bottom: 12px;
}

.section .center .title {
    font-size: 14px;
}

.book-content .book-content-inner {
    position: relative;
}

.book-content .book-content-inner .book-content__header {
    position: fixed;
    right: 0;
    left: 320px;
    min-width: 320px;
    background-color: #fff;
    z-index: 2;
    border-bottom: 1px solid #ddd;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    transition: all .3s cubic-bezier(.4, 0, .2, 1);
    font-size: 18px;
}

.book-content .book-content-inner .book-content__header .menu {
    width: auto;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.book-content .book-content-inner .book-content__header .menu img {
    vertical-align: top;
}

.book-content .book-content-inner .book-content__header .title {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.book-content .book-content-inner .book-content__header .title a {
    color: #222;
}

.book-content .book-content-inner .book-content__header .title a:hover {
    text-decoration: none;
}

.book-content .book-content-inner .book-body {
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 90px;
    position: relative;
    background-color: #e6e7e9;
    padding-bottom: env(safe-area-inset-bottom);
}

.section-page {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 60px 40px;
    padding-top: 55px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .15);
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}

.book-handle {
    position: fixed;
    width: 980px;
    height: 50px;
    margin-left: 160px;
    left: 50%;
    bottom: 70px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.book-handle a {
    pointer-events: all;
}

.book-handle .step-btn {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-radius: 50%;
    background-color: #ea6f5a;
    color: #fff;
    user-select: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .15);
}

.book-handle .step-btn.step-btn--prev {
    left: 10px;
}

.book-handle .step-btn img {
    width: 32px;
}

.book-handle .step-btn.step-btn--next {
    right: 10px;
}

.book-handle .step-btn.step-btn--finished {
    background-color: #fff;
}

#article-content-h1 {
    font-size: 30px;
    margin-bottom: 20px;
}

.book-chapter.fold-pc .book-content .book-content__header {
    left: 0;
}

.book-chapter.fold-pc .book-summary {
    left: -320px;
}

.book-chapter.fold-pc .book-content {
    margin-left: 0;
}

.book-chapter.fold-pc .book-content .book-direction {
    margin-left: 0;
}

.comment-title-sep {
    color: #8a9aa9;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 40px 0 5px;
}