body {
    background-color: #e1e1e1;
}

.common-body-left {
    background: none;
}

.book-list {
    padding: 20px;
    background: #fff;
}

.book-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
}

.book-item-img {
    width: 156px;
    height: 198px;
    cursor: pointer;
}

.book-item-img img {
    width: 100%;
}

.book-item-title {
    line-height: 30px;
    font-size: 14px;
    width: 156px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.book-item-producer {
    font-size: 12px;
}

.book-no-img {
    color: #9b9b9b;
    background: #e2e2e2;
    text-align: center;
    line-height: 198px;
}

.book-detial-link:hover {
    text-decoration: none;
}
