body {
    background: #e1e1e1;
}

.timeline-box {
    width: 1200px;
    padding-bottom: 60px;
    margin: 0 auto;
    background: #fff;
    min-height: 400px;
}

.timeline-title {
    font-size: 26px;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 24px;
}

.timeline-item {
}

.timeline-item-year {
    width: 1px;
    height: 60px;
    margin-left: 599px;
    background: #e9eaec;
}

.timeline-item-year div {
    text-align: center;
    width: 100px;
    height: 24px;
    line-height: 24px;
    margin-left: -49px;
    background: #2d8cf0;
    color: #fff;
}

.timeline-item-content {
    position: relative;
}

.timeline-item-line {
    width: 1px;
    background: #e9eaec;
    position: absolute;
    margin-left: 599px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.timeline-item-circle {
    border: 1px #19be6b solid;
    background: #a7f2cc;
    margin-left: -8px;
    margin-top: 41px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    display: inline-block;
    vertical-align: top;
}

.timeline-item-bubble {
    box-shadow: 0 1px 6px rgba(14,22,30,.3);
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    width: 520px;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    display: inline-block;
    vertical-align: top;
    border: 1px #e2e2e2 solid;
}

.timeline-item-bubble-odd {
    margin-left: 630px;
}

.timeline-item-bubble-odd:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right: 10px solid rgb(0,0,0);
    top: 20px;
    left: -18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.timeline-item-bubble-odd:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right: 10px solid #fff;
    top: 20px;
    left: -18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.timeline-item-bubble-even {
    margin-left: 48px;
}

.timeline-item-bubble-even:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left: 10px solid rgb(0,0,0);
    top: 20px;
    right: -18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.timeline-item-bubble-even:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left: 10px solid #fff;
    top: 20px;
    right: -18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.timeline-item-title {
    font-size: 20px;
    color: #000;
}

.timeline-item-time {
    margin: 5px 0 10px 0;
    font-size: 14px;
}

.timeline-item-time-text {
    margin-left: 4px;
}

.timeline-item-editor {
    font-size: 16px;
    line-height: 22px;
}

.timeline-item-editor a {
    text-decoration: underline;
}
