{% extends '../layout/empty.njk' %}

{% block main %}
<div class="main">
  <div class="logo">
    <a href="/">
      <img src="{{imgPath}}/logo_f1.jpg" alt="Logo">
    </a>
  </div>
  <div id="app" class="codetree">
  </div>
</div>
{% endblock %}

{% block pageData %}
<script>
</script>
{% endblock %}

{% block libjs %}
{% endblock %}

{% block devjs %}
  {{ loadjs('entry/codeReview.js') }}
{% endblock %}