{% extends '../layout/default.njk' %}

{% block main %}
<div class="category-nav-box">
    <div class="category-nav">
        <ul class="category-list">
            <li><a class="category-item {% if not categoryID %}category-item-select{% endif %}" href="/">推荐</a></li>
            {% for category in categories %}
            <li><a class="category-item {% if categoryID == category.id %}category-item-select{% endif %}" href="/?c={{category.id}}">{{category.name}}</a></li>
            {% endfor %}
            <li style="float: right;margin-right: 0;"><a class="category-item" href="/tags">标签管理</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="index-container">
        <div class="content-box">
            <div class="user-action-nav">
                <div class="default-avatar-box"><img class="default-avatar" src="{{imgPath}}/avatar_default2.svg"></div>
                <a id="boilingPointBtn" class="user-action-item"><img src="{{imgPath}}/index/pin-icon.svg" />发沸点</a>
                <a href="/editor/drafts/new.html" target="_blank" class="user-action-item"><img src="{{imgPath}}/index/write-icon.svg" />写文章</a>
                <a href="/handbooks/new" target="_blank" class="user-action-item"><img style="margin-top: 4px; margin-right: 4px;" src="{{imgPath}}/index/book.svg" />写小册</a>
                <a href="/editor/drafts.html" target="_blank" class="user-action-item" style="float: right;margin-right: 20px;">草稿</a>
            </div>
            <div class="article-box-sep"></div>
            <div id="articleBox">
                {% include '../component/article/articles.njk' %}
            </div>

            {% if baiduAd.ad580x90 %}
            <div class="article-list-baiduad">
                <script type="text/javascript">
                    (function() {
                        var s = "_" + Math.random().toString(36).slice(2);
                        document.write('<div style="" id="' + s + '"></div>');
                        (window.slotbydup = window.slotbydup || []).push({
                            id: "{{baiduAd.ad580x90}}",
                            container: s
                        });
                    })();
                </script>
            </div>
            {% endif %}

            <div style="background: #fff;">
                <div id="articleList"></div>
            </div>

            <!-- <a class="load-more">阅读更多</a> -->
        </div>
        <div class="home-sidebar">
            <div class="recommended-books">
                <div class="title">
                    <span>推荐小册</span>
                </div>
                <ul>
                    <li class="book-item">
                        <img class="book-item-img" src="{{imgPath}}/index/book1.jpg">
                        <div class="book-item-info">
                            <div class="book-item-title">Python 实战：用 Scrapyd 打造个人化的爬虫部署管理控制台</div>
                            <div>
                                <span class="book-item-buycount">698人已购买</span>
                                <span class="try-read">试读</span>
                            </div>
                        </div>
                    </li>
                    <li class="book-item">
                        <img class="book-item-img" src="{{imgPath}}/index/book2.jpg">
                        <div class="book-item-info">
                            <div class="book-item-title">基于 Go 语言构建企业级的 RESTful API 服务</div>
                            <div>
                                <span class="book-item-buycount">698人已购买</span>
                                <span class="try-read">试读</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            {% include '../component/user/recommendusers.njk' %}

            {% if baiduAd.ad250x250 %}
            <div class="home-sidebar-ad1">
                <script type="text/javascript">
                    (function() {
                        var s = "_" + Math.random().toString(36).slice(2);
                        document.write('<div style="" id="' + s + '"></div>');
                        (window.slotbydup = window.slotbydup || []).push({
                            id: "{{baiduAd.ad250x250}}",
                            container: s
                        });
                    })();
                </script>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block pageData %}
<script>
    var categoryID = {{ categoryID }};
</script>
{% endblock %}

{% block libjs %}
<script src="//cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript" async="async" defer="defer"></script>
{% endblock %}

{% block devjs %}
    {{ loadjs('entry/index.js') }}
{% endblock %}