{% extends '../layout/default.njk' %}

{% block main %}
<div class="container">
  <div class="index-container">
    <div class="content-box">
      <div class="slide-box">
        <ul>
          <li><img src="{{imgPath}}/index/slide1.png" /></li>
        </ul>
      </div>

      <div class="category-list">
        <a class="category">
          <img src="" />
          <div>@IT·互联网</div>
        </a>
        <a class="category">
          <img src="" />
          <div>@IT·互联网</div>
        </a>
        <a class="category">
          <img src="" />
          <div>@IT·互联网</div>
        </a>
        <a class="category">
          <img src="" />
          <div>@IT·互联网</div>
        </a>
        <a class="category">
          <img src="" />
          <div>@IT·互联网</div>
        </a>
        <a class="category">
          <img src="" />
          <div>@IT·互联网</div>
        </a>
        <a class="category">
          <img src="" />
          <div>@IT·互联网</div>
        </a>
        <a class="category-more">更多热门专题<i class="iconfont ic-link"></i></a>
      </div>

      <div class="split-line"></div>

      <div id="articleBox">
        {% include '../component/cms/articles.njk' %}
      </div>

      <div class="article-placeholder index">
        <div class="img"></div>
        <div class="content">
          <div class="title"></div>
          <div class="text"></div>
          <div class="text animation-delay"></div>
          <div class="meta">
            <div class="read"></div><i class="iconfont ic-list-comments"></i>
            <div class="small"></div><i class="iconfont ic-list-like"></i>
            <div class="small"></div>
          </div>
        </div>
      </div>

      <a class="load-more">阅读更多</a>
    </div>
    <div class="home-sidebar">
      <ul class="home-sidebar-hot">
        <li><a><img src="{{imgPath}}/index/7.png" /></a></li>
        <li><a><img src="{{imgPath}}/index/30.png" /></a></li>
        <li><a><img src="{{imgPath}}/index/book.png" /></a></li>
        <li><a><img src="{{imgPath}}/index/vote.png" /></a></li>
        <li style="margin-bottom: 10px;"><a><img src="{{imgPath}}/index/course.png" /></a></li>
      </ul>

      <a class="home-sidebar-weixin">
        <img class="home-sidebar-qrcode" src="{{imgPath}}/index/qrcode.png" />
        <div class="home-sidebar-info">
          <div class="home-sidebar-weixintitle">下载简书手机App<i class="iconfont ic-link"></i></div>
          <div class="home-sidebar-desc">随时随地发现和创作内容</div>
        </div>
      </a>

      <div class="recommended-authors">
        <div class="title">
          <span>推荐作者</span>
          <a class="page-change">
            <i class="iconfont ic-search-change" style="transform: rotate(0deg);"></i>
            换一批
          </a>
        </div>
        <ul class="list">
          <li>
            <a href="" target="_blank" class="avatar">
              <img src="//upload.jianshu.io/users/upload_avatars/8781442/79bf6acc-5dd3-49d1-9e2b-6c58066c1442.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp">
            </a>
            <a class="follow"><i class="iconfont ic-follow"></i>关注</a>
            <a href="" target="_blank" class="name">胡七筒</a>
            <p>写了231.7k字 · 9.5k喜欢</p>
          </li>
          <li>
            <a href="" target="_blank" class="avatar">
              <img src="//upload.jianshu.io/users/upload_avatars/8781442/79bf6acc-5dd3-49d1-9e2b-6c58066c1442.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/96/h/96/format/webp">
            </a>
            <a class="follow" state="0"><i class="iconfont ic-follow"></i>关注</a>
            <a href="" target="_blank" class="name">胡七筒</a>
            <p>写了231.7k字 · 9.5k喜欢</p>
          </li>
        </ul>
        <a href="" target="_blank" class="find-more">查看全部<i class="iconfont ic-link"></i></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block devjs %}
  {{ loadjs('entry/index.js') }}
{% endblock %}