body {
    background-color: #e1e1e1;
}

.golang-main-top {
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}

.mine-img-box {
    min-height: 140px;
    background-color: #96a1a9;
}

.mine-info-container {
    position: relative;
    height: 120px;
    padding: 10px;
    background-color: #fff;
}

.mine-edit-container {
    position: relative;
    padding: 20px;
    background-color: #fff;
}

.mine-info-icon {
    cursor: default;
    position: absolute;
    top: -80px;
    left: 20px;
    padding: 5px;
    background-color: #fff;
    border-radius: 3px;
    width: 160px;
    height: 160px;
    z-index: 2;
}

.mine-info-icon img {
    width: 100%;
}

.mine-info-line {
    margin-left: 200px;
}

.mine-info-upload {
    opacity: 0;
    transition: all .3s ease-in;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 35px;
}

.mine-info-icon:hover .mine-info-upload{
    opacity: 1;
}

.mine-info-upload img {
    width: 48px;
    height: 48px;
}

.mine-info-upload p {
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-top: 10px;
}

.mine-info-name {
    font-size: 30px;
    font-weight: bold;
}

.mine-info-desc {
    font-size: 14px;
    color: #8590a6;
    margin-top: 20px;
}

.mine-info-btn {
    position: absolute;
    right: 20px;
    top: 30px;
}

.golang-mine-content {
    margin-top: 20px;
}

.mine-content-left {
    width: 900px;
    display: inline-block;
    min-height: 300px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}

.mine-content-right {
    width: 288px;
    float: right;
}

.right-border {
    border-right: 1px solid #ccd8e1;
}

.mine-attention-box {
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    padding: 10px 0;
}

.attention-item {
    padding: 5px 0;
    width: 50%;
    display: inline-block;
}

.attention-item p {
    text-align: center;
    margin-bottom: 5px;
}

.attention-item-label {
    font-size: 14px;
    color: #8590a6;
}

.attention-item-num {
    color: #000;
    font-size: 18px;
}

.attention-item:hover p {
    color: #2d8cf0;
    cursor: default;
}

.mine-menu-item {
    width: 9em;
    text-align: center;
}

.articles-container {
    padding: 0 20px 20px 20px;
}

.article-top {
    padding: 15px 0;
    border-bottom: 1px solid #e5e5e5;
}

.article-top h1 {
    font-size: 18px;
}

.articles-title {
    font-size: 16px;
    margin-top: 10px;
}

.articles-user-info {
    margin-top: 5px;
}

.articles-user-info img {
    width: 30px;
    height: 30px;
}

.articles-user-info span {
    line-height: 30px;
    display: inline-block;
    vertical-align: bottom;
    color: #8590a6;
    font-size: 14px;
    margin-left: 5px;
}

.golang123-editor {
    overflow: hidden;
    margin-top: 5px;
}

.articles-item {
    padding: 15px 0;
    border-top: 1px solid #e5e5e5;
}

.articles-item-no {
    border: 0;
}

.articles-hidden {
    max-height: 100px;
}

.articles-button {
    text-align: right;
    margin-top: 5px;
    margin-right: 10px;
}

.articles-button a {
    font-size: 14px;
    color: #8590a6;
}

.articles-button .ivu-icon {
    margin-left: 5px;
    font-size: 12px;
}

.articles-item-empty {
    line-height: 200px;
    font-size: 14px;
    color: #8590a6;
    text-align: center;
}

.mine-info-item {
    margin-top: 10px;
    font-size: 14px;
}

.mine-info-label {
    width: 100px;
    font-weight: 700;
    display: inline-block;
}

.mine-edit-form {
    width: 800px;
    margin-top: 20px;
    margin-left: 200px;
}

.info-button {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #0f88eb;
    border: 1px solid #0f88eb;
    text-align: center;
    cursor: pointer;
    background: none;
    border-radius: 3px;
}

.info-button:hover {
    background-color: rgba(13,121,209,.06);
}

.mine-info-box {
    margin-left: 200px;
}

.mine-info-edit-top {
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
}

.mine-info-edit {
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #e5e5e5;
}

.mine-info-value {
    display: inline-block;
    min-width: 200px;
}

.mine-info-value .ivu-icon {
    margin-right: 20px;
}

.mine-info-value:hover .edit-action {
    display: inline;
}

.edit-action {
    display: none;
    margin-left: 10px;
    color: #175199;
    cursor: pointer;
}

.edit-action .ivu-icon {
    margin-right: 5px;
}

.edit-item {
    display: inline-block;
    vertical-align: text-top;
}

.edit-item .ivu-radio-wrapper {
    margin-right: 30px;
}

.radio-label {
    font-size: 14px;
}

.button-box {
    margin-top: 20px;
}

.button-seq {
    margin-right: 20px;
}

.home-link-box {
    float: right;
    font-size: 14px;
    color: #8590a6;
}

.home-link-box:hover {
    color: #8590a6;
}

.schools-item {
    margin-left: 100px;
    padding: 10px;
    font-size: 15px;
    color: #262626;
    font-weight: 600;
    width: 400px;
}

.schools-item:hover {
    background-color: #f7f8fa;
    border-radius: 4px;
}

.schools-item:hover .schools-delete {
    display: inline;
}

.schools-delete {
    float: right;
    cursor: pointer;
    display: none;
}

.mine-info-edit .schools-item:nth-of-type(1) {
    margin-top: 10px;
}