{# iframe加载此页面，页面里是markdown编辑器 #}

{% extends '../../layout/empty.njk' %}

{% block main %}
<div id="app"></div>
<div id="menubar"></div>
{% endblock %}

{% block pageData %}
<script>
    var uploadPolicy = {{ uploadPolicy | dump | safe }};
</script>
{% endblock %}

{% block devjs %}
  {{ loadjs('entry/editor/editor.md.js') }}
{% endblock %}