{% extends '../../layout/empty.njk' %}

{% block main %}
<div id="app">
</div>
{% endblock %}

{% block pageData %}
<script>
  var userID = {{ user.id }};
  var avatarURL = '{{ user.avatarURL }}';
  var uploadPolicy = {{ uploadPolicy | dump | safe }};
  var autoSaveTime = {% if env === 'development' %}10000{% else %}5 * 60 * 1000{% endif %};
</script>
{% endblock %}

{% block devjs %}
  {{ loadjs('entry/editor/editRichDraft.js') }}
{% endblock %}