{% extends '../../layout/empty.njk' %}

{% block main %}
<div id="app">
</div>
{% endblock %}

{% block pageData %}
<script>
  var userID = {{ user.id }};
  var avatarURL = '{{ user.avatarURL }}';
</script>
{% endblock %}

{% block libcss %}
<link charset="utf-8" href="{{cssPath}}/libs/simplemde.min.css" rel="stylesheet">
{% endblock %}

{% block libjs %}
<script src="{{jsPath}}/libs/simplemde.min.js"></script>
{% endblock %}

{% block devjs %}
  {{ loadjs('entry/editor/editMarkdownDraft.js') }}
{% endblock %}