{% extends '../../layout/empty.njk' %}

{% block main %}
<div id="app">
</div>
{% endblock %}

{% block pageData %}
<script>
  var userID = {{ user.id }};
  
  {% if article %}
  var article = {{ article | dump | safe }};
  {% endif %}
</script>
{% endblock %}

{% block devjs %}
  {{ loadjs('entry/editor/published.js') }}
{% endblock %}