body {
    background: #f4f5f5;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.index-container {
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
}

.content-box {
    float: left;
    padding-bottom: 30px;
    background: #fff;
}

.list-header {
    padding: 12px 20px;
    padding-left: 6px;
    font-size: 0;
    border-bottom: 1px solid hsla(0, 0%, 59.2%, .1);
}

.content-list-sort, .content-list-sort li {
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.content-list-sort li {
    padding: 0 14px;
    border-right: 1px solid hsla(0, 0%, 59.2%, .2);
}

.content-list-sort li:last-child {
    border: none;
}

.content-list-sort a {
    color: #909090;
    font-size: 14px;
}

.content-list-sort a:hover {
    color: #ea6f5a;
    text-decoration: none;
}

.content-list-sort a.active {
    color: #ea6f5a;
}

.user-action-nav {
    overflow: hidden;
    border-radius: 2px;
    height: 50px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.user-action-nav .default-avatar-box {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

.user-action-nav .default-avatar {
    width: 100%;
    height: 100%;
}

.user-action-item {
    float: left;
    margin-top: 14px;
    color: #6a6a6a;
    margin-right: 45px;
    font-size: 14px;
    line-height: 22px;
}

.user-action-item:hover {
    color: #333;
    text-decoration: none;
}

.user-action-item img {
    display: inline-block;
    vertical-align: top;
}

.article-box-sep {
    background: #f4f5f5;
    height: 20px;
}

#articleBox {
    background: #fff;
    padding-top: 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}

.home-sidebar {
    width: 275px;
    float: right;
    font-size: 0;
}

.home-sidebar li {
    margin-bottom: 6px;
}

.home-sidebar img {
    width: 100%;
    height: 50px;
}

.home-sidebar-weixin {
    border-radius: 2px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 16px;
    width: 100%;
    border: 1px solid #f0f0f0;
    background-color: #fff;
    display: block;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.home-sidebar-qrcode {
    width: 60px!important;
    height: 60px!important;
    display: inline-block;
    vertical-align: middle;
    opacity: .85;
}

.home-sidebar-info {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
}

.home-sidebar-weixintitle {
    font-size: 15px;
    color: #333;
}

.ic-link:before {
    content: "\E616";
}

.home-sidebar-desc {
    margin-top: 4px;
    font-size: 13px;
    color: #999;
}

.recommended-books, .recommended-authors {
    border-radius: 2px;
    overflow: hidden;
    background: #fff;
    margin-bottom: 20px;
    font-size: 13px;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
}

.recommended-books {
    padding: 0; 
}

.recommended-books .book-item {
    padding: 15px 16px;
    overflow: hidden;
    margin-bottom: 0;
}

.recommended-books .book-item:hover {
    background: #f8f8f8;
}

.recommended-books .book-item-img {
    float: left;
    width: 52px;
    height: 72px;
}

.recommended-books .book-item-info {
    float: left;
    float: left;
    width: 180px;
    margin-left: 10px;
    text-align: left;
}

.recommended-books .book-item-title {
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
}

.book-item-buycount {
    color: #878c90;
    float: left;
    height: 20px;
    line-height: 20px;
}

.try-read {
    height: 20px;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    background-color: #007fff;
    float: right;
}

.try-read:after {
    width: 0;
    height: 0;
    content: "";
    display: inline-block;
    margin-left: 3px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 3px 0 3px 3px;
}

.recommended-books .title, .recommended-authors .title {
    padding: 16px 16px 0 16px;
    text-align: left;
    border-bottom: 1px solid hsla(0, 0%, 58.8%, .1);
    padding-bottom: 12px;
}

.recommended-books .title span, .recommended-authors .title span {
    font-size: 14px;
    color: #333;
}

.ic-link:before { content: "\E616"; }

.split-line {
    border-top: 1px solid #f0f0f0;
    padding-bottom: 15px;
}

.load-more {
    display: none;
    width: 100%;
    height: 40px;
    margin: 30px auto 60px;
    padding: 10px 15px;
    text-align: center;
    font-size: 15px;
    border-radius: 20px;
    color: #fff;
    background-color: #a5a5a5;
    box-sizing: border-box;
}

.load-more:hover {
    background-color: #9b9b9b;
    color: #fff;
    text-decoration: none;
}

.home-sidebar-ad1 {
    width: 275px;
    text-align: center;
    background: #fff;
    padding: 12px 0;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.article-list-baiduad {
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
    padding-top: 20px;
    padding-bottom: 20px;
}