.sign {
    height: 100%;
    min-height: 750px;
    text-align: center;
    font-size: 14px;
    background-color: #f1f1f1;
}

.sign .logo {
    position: absolute;
    top: 56px;
    margin-left: 50px;
}

.sign .logo img {
    width: 160px;
    height: auto;
}

.sign .main {
    box-sizing: border-box;
    width: 400px;
    margin: 60px auto 0;
    padding: 50px 50px 30px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    vertical-align: middle;
    display: inline-block;
}

.normal-title {
    font-size: 18px;
}

.sign .reset-title, .sign .title {
    margin: 0 auto 50px;
    padding: 10px;
    font-weight: 400;
    color: #969696;
}

.sign .reset-title a, .sign .title a {
    padding: 10px;
    color: #969696;
}

.sign .reset-title b, .sign .title b {
    padding: 10px;
}

.sign .reset-title .active, .sign .title .active {
    font-weight: 700;
    color: #ea6f5a;
    border-bottom: 2px solid #ea6f5a;
}

.sign .title a:hover {
    text-decoration: none;
}

.sign form {
    margin-bottom: 30px;
    margin: 0 0 20px;
}

.sign form .input-prepend {
    position: relative;
    width: 100%;
}

.sign form .restyle {
    margin-bottom: 0;
}

.sign form .input-prepend input {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 4px 12px 4px 35px;
    border: 1px solid #c8c8c8;
    border-radius: 0 0 4px 4px;
    background-color: hsla(0, 0%, 71%, .1);
    vertical-align: middle;
}

.sign form .restyle input {
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

.sign form .input-prepend input {
    font-size: 14px;
}

.sign form .input-prepend input::-webkit-input-placeholder {
    color: #aaa;
}

.sign form .input-prepend input::-moz-placeholder {   /* Mozilla Firefox 19+ */
    color: #aaa;
}

.sign form .input-prepend input:-moz-placeholder {    /* Mozilla Firefox 4 to 18 */
    color: #aaa;
}

.sign form .input-prepend input:-ms-input-placeholder {  /* Internet Explorer 10-11 */ 
    color: #aaa;
}

.sign form .input-prepend i {
    position: absolute;
    top: 14px;
    left: 10px;
    font-size: 18px;
    color: #969696;
}

.ic-user:before {
    content: "\E65E";
}

.sign form .no-radius input {
    border-radius: 0;
}

.ic-phonenumber:before {
    content: "\E65D";
}

.ic-verify:before {
    content: "\E61F";
}

.sign .disable, .sign .disable-gray {
    opacity: .5;
    filter: alpha(opacity=50);
    pointer-events: none;
}

.sign .btn-in-resend, .sign .btn-up-resend {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 36px;
    font-size: 13px;
    color: #fff;
    background-color: #42c02e;
    border-radius: 20px;
    line-height: 36px;
}

.ic-password:before {
    content: "\E614";
}

.sign .sign-in-button, .sign .sign-up-button {
    margin-top: 20px;
    width: 100%;
    padding: 9px 18px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    color: #fff;
    background: #42c02e;
    cursor: pointer;
    outline: none;
    display: block;
    clear: both;
}

.sign .sign-in-button:hover, .sign .sign-up-button:hover {
    background: #3db922;
}

.sign .sign-up-msg {
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #969696;
}

.sign .sign-up-msg a, .sign .sign-up-msg a:hover {
    color: #3194d0;
    text-decoration: none;
}

.sign .more-sign {
    margin-top: 50px;
}

.sign .more-sign h6 {
    position: relative;
    margin: 0 0 10px;
    font-size: 12px;
    color: #b5b5b5;
    line-height: 12px;
}

.sign .more-sign h6:before {
    left: 30px;
}

.sign .more-sign h6:after, .sign .more-sign h6:before {
    content: "";
    border-top: 1px solid #b5b5b5;
    display: block;
    position: absolute;
    width: 60px;
    top: 5px;
}

.sign .more-sign h6:after {
    right: 30px;
}

.sign .more-sign ul {
    margin-bottom: 10px;
    list-style: none;
    height: 50px;
}

.sign .more-sign ul li {
    margin: 0 5px;
    display: inline-block;
    line-height: 20px;
}

.sign .more-sign ul a {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
}

.sign .more-sign ul a:hover {
    text-decoration: none;
}

.sign .more-sign ul i {
    font-size: 28px;
    vertical-align: middle;
}

.sign .more-sign .ic-wechat {
    color: #00bb29;
}

.ic-wechat:before {
    content: "\E604";
}

.sign .more-sign .ic-qq_connect {
    color: #498ad5;
}

.ic-qq_connect:before {
    content: "\E603";
}

.sign .btn-in-resend {
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
    pointer-events: all;
}

.sign .btn-in-resend:hover {
    text-decoration: none;
}

.fade {
    opacity: 0;
    transition: opacity .15s linear;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.42857;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 12px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.tooltip.in {
    opacity: .9;
    filter: alpha(opacity=90);
}

.tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
}

.sign .tooltip-error {
    left: 784.438px;
    font-size: 14px;
    line-height: 25px;
    white-space: nowrap;
    background: none;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}

.sign .tooltip-error.right .tooltip-arrow-border {
    border-right-color: #ea6f5a;
}

.sign .tooltip-error.right .tooltip-arrow-bg {
    left: 2px;
    border-right-color: #fff;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
}

.tooltip-inner {
    padding: 5px 10px;
}

.sign .tooltip-error .tooltip-inner {
    max-width: 280px;
    color: #333;
    border: 1px solid #ea6f5a;
    background-color: #fff;
}

.sign .tooltip-error .tooltip-inner i {
    position: static;
    margin-right: 5px;
    font-size: 20px;
    color: #ea6f5a;
    vertical-align: middle;
}

.ic-error:before {
    content: "\E648";
}

.sign .tooltip-error .tooltip-inner span {
    vertical-align: middle;
    display: inline-block;
    white-space: normal;
    max-width: 230px;
}

.sign .more-sign .ic-weibo {
    color: #e05244;
}

.ic-weibo:before {
    content: "\E605";
}

.more-sign .github-icon {
    width: 28px;
    height: 28px;
    display: inline-block;
    font-size: 0;
    box-sizing: border-box;
    vertical-align: middle;
}