{% extends '../../layout/default.njk' %}

{% block main %}
<div class="container">
    <div class="article-box">
        <div class="article">
            <div class="author-info-block">
                <a href="/uc/{{user.id}}" target="_blank" class="avatar-link">
                    <div class="author-avatar" style="background-image: url({{article.user.avatarURL}});"></div>
                </a>
                <div class="author-info-box">
                    <a href="/uc/{{user.id}}" target="_blank" class="username-ellipsis">{{article.user.username}}</a>
                    <a href="" target="_blank" class="rank levelimg">
                        <img src="https://b-gold-cdn.xitu.io/v3/static/img/lv-1.636691c.svg" style="margin-top: 4px;">
                    </a>
                    <div class="meta-box">
                        <time class="time">{{article.createdAt | recentTime('YYYY年MM月DD')}}</time>
                        <span class="views-count">阅读 1513</span>
                    </div>
                </div>
                <button class="follow-button follow">关注</button>
            </div>

            {% if article.coverURL %}
            <div class="article-cover" style="background-image: url({{article.coverURL}})"></div>
            {% endif %}
            <div class="article-title">{{article.name}}</div>







            <div class="article-content">
                <div class="mili-editor">
                    {{article.htmlContent | safe}}
                </div>
            </div>

            <!--
            <div class="support-author">
                <p>小红包走一走，来{{siteName}}打赏我~</p>
                <div class="btn btn-pay">打赏支持</div>
                <div class="supporter">
                    <ul class="support-list"></ul>
                </div>
            </div> -->
            <div class="tag-list-box">
                <div class="tag-list-title">关注下面的标签，发现更多相似文章</div>
                <div class="tag-list">
                    {% for tag in article.tags %}
                    <a href="/tags/{{tag.id}}.html" target="_blank" class="item">
                        <div class="tag-icon" style="background-image: url({{tag.iconURL}});"></div>
                        <div class="tag-title">{{tag.name}}</div>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div class="follow-detail">
                <div class="info">
                    <a class="avatar" href="/users/{{article.user.id}}.html" target="_blank">
                        <img src="{{article.user.avatarURL}}" />
                    </a>
                    {% if not isAuthorSelf %}
                        {% if userFollowed %}
                        <a id="followUserBigBtn" href="javascript:void(0)" class="btn big btn-success following"><i class="iconfont ic-followed"></i><span>已关注</span></a>
                        {% else %}
                        <a id="followUserBigBtn" href="javascript:void(0)" class="btn big btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>
                        {% endif %}
                    {% endif %}
                    <a class="title" href="/users/{{article.user.id}}.html" target="_blank">{{article.user.username}}</a>
                    <p>发布了 {{article.user.articleCount | defaultValue(0)}} 篇文章 · 获得点赞 {{article.user.likedCount | defaultValue(0)}} · 获取阅读 {{article.user.articleViewCount | defaultValue(0)}}</p>
                </div>
                {% if article.user.introduce %}
                <div class="introduce">{{article.user.introduce}}</div>
                {% endif %}
            </div>

            <div class="article-banner">
                <a class="banner-title" href="" target="_blank">下载{{siteName}}网源码</a>
                <div class="banner-content">打开新标签页发现好内容，掘金、GitHub、Dribbble、ProductHunt 等站点内容轻松获取。快来安装掘金浏览器插件获取高质量内容吧！</div>
            </div>


            <div>
                <div id="comment-list" class="comment-list">
                    {# 评论组件的容器 #}
                    <div id="normal-comment-list" class="normal-comment-list"></div>
                </div>
            </div>
        </div>
        <div class="article-sidebar">
            <div class="sidebar-block">
                <div class="block-title">关于作者</div>
                <div class="block-body">
                    <div class="user-item item">
                        <div class="user-item-avatar" style="background-image: url({{article.user.avatarURL}});"></div>
                        <div class="info-box">
                            <a href="/user/5960218cf265da6c2d2c733e" target="_blank" class="username">voanit</a>
                            <a href="" target="_blank" class="rank levelimg">
                                <img src="https://b-gold-cdn.xitu.io/v3/static/img/lv-1.636691c.svg" style="margin-top: 4px;">
                            </a>
                            <div class="position">前端 @ 朴新</div>
                        </div>
                    </div>
                    <div class="stat-item">
                        <svg width="25" height="26" viewBox="0 0 25 26" class="zan-icon">
                            <g fill="none" fill-rule="evenodd" transform="translate(0 .57)">
                                <ellipse cx="12.5" cy="12.57" fill="#fadcd6" rx="12.5" ry="12.57"></ellipse>
                                <path fill="#e77c6a" d="M8.596 11.238V19H7.033C6.463 19 6 18.465 6 17.807v-5.282c0-.685.483-1.287 1.033-1.287h1.563zm4.275-4.156A1.284 1.284 0 0 1 14.156 6c.885.016 1.412.722 1.595 1.07.334.638.343 1.687.114 2.361-.207.61-.687 1.412-.687 1.412h3.596c.38 0 .733.178.969.488.239.317.318.728.21 1.102l-1.628 5.645a1.245 1.245 0 0 1-1.192.922h-7.068v-7.889c1.624-.336 2.623-2.866 2.806-4.029z"></path>
                            </g>
                        </svg>
                        <span class="content">获得点赞<span class="count">{{article.user.likedCount | prettyCount}}</span></span>
                    </div>
                    <div class="stat-item">
                        <svg width="25" height="25" viewBox="0 0 25 25" class="article-view-icon">
                            <g fill="none" fill-rule="evenodd">
                                <circle cx="12.5" cy="12.5" r="12.5" fill="#fadcd6"></circle>
                                <path fill="#e77c6a" d="M4 12.5S6.917 7 12.75 7s8.75 5.5 8.75 5.5-2.917 5.5-8.75 5.5S4 12.5 4 12.5zm8.75 2.292c1.208 0 2.188-1.026 2.188-2.292 0-1.266-.98-2.292-2.188-2.292-1.208 0-2.188 1.026-2.188 2.292 0 1.266.98 2.292 2.188 2.292z"></path>
                            </g>
                        </svg>
                        <span class="content">文章被阅读<span class="count">{{article.user.articleViewCount | prettyCount}}</span></span>
                    </div>
                </div>
            </div>

            <div class="recommended-books">
                <div class="title">
                    <span>开源图书</span>
                </div>
                <ul>
                    {% for book in recommendedBooks %}
                    <li class="book-item">
                        <a href="/books/{{book.id}}" target="_blank">
                            <img class="book-item-img" src="{{book.coverURL}}">
                            <div class="book-item-info">
                                <div class="book-item-title">{{book.name}}</div>
                                <div>
                                    <span class="book-item-buycount">{{book.studyUserCount}}人已学习</span>
                                    <span class="try-read">阅读</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

    <div class="note-bottom">
        <div>
            <div class="recommend-note">
                <div class="meta">
                    <div class="title">推荐阅读
                        <a target="_blank" href="/" class="more">更多精彩内容<i class="iconfont ic-link"></i></a>
                    </div>
                </div>
                <div class="list">
                    {% for recommend in recommends %}
                    <div class="note {% if recommend.coverURL %}have-img{% endif %}">
                        {% if recommend.coverURL %}
                        <a class="recommend-img" href="/p/{{recommend.id}}.html" target="_blank">
                            <img src="{{recommend.coverURL}}" />
                        </a>
                        {% endif %}
                        <a target="_blank" href="/p/{{recommend.id}}.html" class="title">{{recommend.name}}</a>
                        <p class="description">{{recommend.summary}}...</p>
                        <a target="_blank" href="/users/{{recommend.user.id}}.html" class="author">
                            <div class="avatar" style="background-image: url({{recommend.user.avatarURL}});"></div>
                            <span class="name">{{recommend.user.username}}</span>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block pageData %}
<script>
  var articleID = {{ article.id }};
  var isAuthorSelf = {{ isAuthorSelf }};
  var userLiked = {{ userLiked }};
  var userFollowed = {{ userFollowed }};
  var articleLikedCount = {{ article.likedCount }};
  var commentEnabled = {{ article.commentEnabled }};
  // 当前登录用户
  var userID = {% if user %}{{user.id}}{% else %}undefined{% endif %};
  var username = '{% if user %}{{user.username}}{% else %}{% endif %}';
  var avatarURL = '{% if user %}{{user.avatarURL}}{% else %}{% endif %}';
  // 文章作者
  var authorID = {{ article.user.id }};
</script>
{% endblock %}

{% block libjs %}
<script src="//cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript" async="async" defer="defer"></script>
<script src="{{jsPath}}/libs/qrcode.min.js" type="text/javascript"></script>
{% endblock %}

{% block devjs %}
{{ loadjs('entry/article/articleDetail.js') }}
{% endblock %}