{% extends '../../layout/default.njk' %}

{% block main %}
<div class="container">
    <div class="article-box">
        <div class="article">
            {% if article.coverURL %}
            <div class="article-cover" style="background-image: url({{article.coverURL}})"></div>
            {% endif %}
            <div class="article-title">{{article.name}}</div>
            <div class="author">
                <a class="avatar" href="/u/{{article.user.id}}.html">
                    <img src="{{article.user.avatarURL}}" />
                </a>
                <div class="info">
                    <span class="name"><a href="/u/{{article.user.id}}.html">{{article.user.username}}</a></span>
                    {% if userFollowed %}
                    <a id="followUserSmallBtn" href="javascript:void(0)" class="btn btn-default following"><i class="iconfont ic-followed"></i><span>已关注</span></a>
                    {% else %}
                    <a id="followUserSmallBtn" href="javascript:void(0)" class="btn btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>                    
                    {% endif %}
                    <div class="meta">
                        <span class="publish-time">{{article.createdAt | formatTime('YYYY.MM.DD HH:mm')}}</span>
                        <span class="wordage">字数 {{article.wordCount}}</span>
                        <span class="views-count">阅读 {{article.browseCount}}</span><span class="comments-count">评论 {{article.commentCount}}</span><span class="likes-count">喜欢 {{article.likeCount}}</span>
                    </div>
                </div>
            </div>
            <div class="article-content">
                <div class="mili-editor">
                    {{article.htmlContent | safe}}
                </div>
            </div>

            <div class="support-author">
                <p>小手抖一抖，来{{siteName}}关注我~</p>
                <div class="btn btn-pay">赞赏支持</div>
                <div class="supporter">
                    <ul class="support-list"></ul>
                </div>
            </div>

            <div class="follow-detail">
                <div class="info">
                    <a class="avatar" href="/u/{{article.user.id}}.html">
                        <img src="{{article.user.avatarURL}}" />
                    </a>
                    {% if userFollowed %}
                    <a id="followUserBigBtn" href="javascript:void(0)" class="btn big btn-success following"><i class="iconfont ic-followed"></i><span>已关注</span></a>
                    {% else %}
                    <a id="followUserBigBtn" href="javascript:void(0)" class="btn big btn-success follow"><i class="iconfont ic-follow"></i><span>关注</span></a>
                    {% endif %}
                    <a class="title" href="/u/{{article.user.id}}.html">{{article.user.username}}</a>
                    <p>写了 {{article.user.wordCount | defaultValue(0)}} 字，被 {{article.user.wordCount | defaultValue(0)}} 人关注，获得了 {{article.user.wordCount | defaultValue(0)}} 个喜欢</p>
                </div>
                {% if article.user.introduce %}
                <div class="introduce">{{article.user.introduce}}</div>
                {% endif %}
            </div>

            <div class="meta-bottom">
                <div class="like">
                    <div id="likeArticelBtn" class="btn like-group">
                        <div class="btn-like"><a>喜欢</a></div>
                        <div class="modal-wrap"><a id="articelLikeCount">{{article.likeCount | defaultValue(0)}}</a></div>
                    </div>
                </div>
                <div class="share-group" style="position: relative;">
                    <a id="articleShareWeixinBtn" class="share-circle hint--top hint--rounded hint--no-animate" aria-label="分享到微信">
                        <i class="iconfont ic-wechat"></i>
                    </a>
                    <a href="{{apiPrefix}}/share?title={{article.name}}&content={{article.summary}}&imgurl={{article.coverURL | defaultValue('')}}&platform=weibo" target="_blank" class="share-circle hint--top hint--rounded hint--no-animate" aria-label="分享到微博">
                        <i class="iconfont ic-weibo"></i>
                    </a>
                    <a class="share-circle" data-toggle="tooltip" id="longshare" target="_blank">
                        <div class="qrcode" id="qrcode" style="display: none;">
                            <img src="" alt="Download index side qrcode">
                            <p>下载app生成长微博图片</p>
                        </div>
                        <i class="iconfont ic-picture"></i>
                    </a>
                    <a id="articleMoreShareBtn" class="share-circle more-share" tabindex="0" data-toggle="popover" data-placement="top" data-html="true"
                      data-trigger="focus" href="javascript:void(0);" data-content="" data-original-title="" title="">更多分享</a>
                    <div style="top: 0; left: 100%; position: absolute;">
                        <div id="shareListPop" style="top: -171px; left: -128px;" class="popover fade top in" role="tooltip">
                            <div class="arrow" style="left: 50%;"></div>
                            <h3 class="popover-title" style="display: none;"></h3>
                            <div class="popover-content">
                                <ul class="share-list">
                                    <li><a href="{{apiPrefix}}/share?title={{article.name}}&content={{article.summary}}&imgurl={{article.coverURL | defaultValue('')}}&platform=weibo" target="_blank"><i class="social-icon-sprite social-icon-zone"></i><span>分享到QQ空间</span></a></li>
                                    <li><a href="{{apiPrefix}}/share?title={{article.name}}&content={{article.summary}}&imgurl={{article.coverURL | defaultValue('')}}&platform=twitter" target="_blank"><i class="social-icon-sprite social-icon-twitter"></i><span>分享到Twitter</span></a></li>
                                    <li><a href="{{apiPrefix}}/share?title={{article.name}}&content={{article.summary}}&imgurl={{article.coverURL | defaultValue('')}}&platform=facebook" target="_blank"><i class="social-icon-sprite social-icon-facebook"></i><span>分享到Facebook</span></a></li>
                                    <li><a href="{{apiPrefix}}/share?title={{article.name}}&content={{article.summary}}&imgurl={{article.coverURL | defaultValue('')}}&platform=google" target="_blank"><i class="social-icon-sprite social-icon-google"></i><span>分享到Google+</span></a></li>
                                    <li><a href="{{apiPrefix}}/share?title={{article.name}}&content={{article.summary}}&imgurl={{article.coverURL | defaultValue('')}}&platform=douban" target="_blank"><i class="social-icon-sprite social-icon-douban"></i><span>分享到豆瓣</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a id="web-note-ad-1" target="_blank"><img src="{{imgPath}}/article/app.png"></a>

            <div>
                <div id="comment-list" class="comment-list">
                    {# 评论组件的容器 #}
                    <div id="normal-comment-list" class="normal-comment-list"></div>
                </div>
            </div>
        </div>
        <div class="article-box-fixed-box" style="display: none;">
        </div>
    </div>

    <div class="note-bottom">
        <div>
            <div class="recommend-note">
                <div class="meta">
                    <div class="title">推荐阅读
                        <a target="_blank" href="/" class="more">更多精彩内容<i class="iconfont ic-link"></i></a>
                    </div>
                </div>
                <div class="list">
                    {% for recommend in recommends %}
                    <div class="note {% if recommend.coverURL %}have-img{% endif %}">
                        {% if recommend.coverURL %}
                        <a class="recommend-img" href="/p/{{recommend.id}}.html">
                            <img src="{{recommend.coverURL}}" />
                        </a>
                        {% endif %}
                        <a target="_blank" href="/p/{{recommend.id}}.html" class="title">{{recommend.name}}</a>
                        <p class="description">{{recommend.summary}}...</p>
                        <a target="_blank" href="/u/{{recommend.user.id}}.html" class="author">
                            <div class="avatar" style="background-image: url({{recommend.user.avatarURL}});"></div>
                            <span class="name">{{recommend.user.username}}</span>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="articleShareQRCode"></div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block pageData %}
<script>
  var articleID = {{ article.id }};
  var userLiked = {{ userLiked }};
  var userFollowed = {{ userFollowed }};
  var articleLikeCount = {{ article.likeCount }};
  var commentEnabled = {{ article.commentEnabled }};
  var userID = {% if user %}{{user.id}}{% else %}undefined{% endif %};
  var username = '{% if user %}{{user.username}}{% else %}{% endif %}';
  var avatarURL = '{% if user %}{{user.avatarURL}}{% else %}{% endif %}';
  var authorID = {{ article.user.id }};
</script>
{% endblock %}

{% block devjs %}
{{ loadjs('entry/article/articleDetail.js') }}
{% endblock %}