{% extends '../../layout/default.njk' %}

{% block main %}
<div id="mainBox">
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block pageData %}
<script>
    // 当前登录用户 
    var user = {{ user | dump | safe }};
    var uploadPolicy = {{ uploadPolicy | dump | safe }};
</script>
{% endblock %}

{% block libcss %}
    <link rel="stylesheet" href="{{cssPath}}/libs/croppie.min.css">
{% endblock %}

{% block libjs %}
<script src="{{jsPath}}/libs/croppie.min.js" type="text/javascript"></script>
{% endblock %}

{% block devjs %}
    {{ loadjs('entry/settings/settings.js') }}
{% endblock %}