<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">

  {% block iviewcss %}
  <link rel="stylesheet" href="{{cssPath}}/libs/iview-3.3.3.min.css">
  {% endblock %}

  {% block libcss %}
  {% endblock %}

  {% block css %}
  {% endblock %}
</head>

<body {% if env === 'development'%} style="display: none;"{% endif %}>
  {% from '../macros/js.njk' import loadjs  %}

  {% block header %}
  {% include '../component/header.njk' %}
  {% endblock %}

  {% block categorynav %}
  {% endblock %}

  {% block main %}{% endblock %}

  {% block sidetool %}
  {% include '../component/sidetool.njk' %}
  {% endblock %}

  {% block footer %}
  {% include '../component/footer.njk' %}
  {% endblock %}

  <script>
    {# dump 在一个对象上调用JSON.stringify，并将结果输出到模板上 #}
    var globalConfig = {{ globalConfig | dump | safe }};
  </script>

  {% block pageData %}
  {% endblock %}

  {% block jqueryjs %}
  <script src="{{jsPath}}/libs/jquery-1.11.3.min.js"></script>
  {% endblock %}

  {% block libjs %}
  {% endblock %}

  {% block devjs %}
  {% endblock %}

  {% block js %}
  {% endblock %}
</body>

</html>