<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">

        {% block libcss %}
        {% endblock %}

        {% block css %}
        {% endblock %}
    </head>

    <body {% if env === 'development' %} style="display: none;"{% endif %}>
        {% from '../macros/js.njk' import loadjs %}

        {% block main %}
        {% endblock %}

        {% block libjs %}
            {% if env === 'production' %}
            <script>
                var _hmt = _hmt || [];
                (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?253a8e53710b29ed40e6e57965279933";
                var s = document.getElementsByTagName("script")[0]; 
                s.parentNode.insertBefore(hm, s);
                })();
            </script>
            {% endif %}
        {% endblock %}

        <script>
            {# dump 在一个对象上调用JSON.stringify，并将结果输出到模板上 #}
            var globalConfig = {{ globalConfig | dump | safe }};
        </script>
        
        {% block pageData %}
        {% endblock %}

        {% block devjs %}
        {% endblock %}

        {% block js %}
        {% endblock %}
    </body>
</html>