{% extends '../../layout/admin.njk' %}

{% block headjs %}
<script src="{{jsPath}}/libs/geetest.js"></script>
{% endblock %}

{% block main %}
<div id="app"></div>
{% endblock %}

{% block css %}

{% endblock %}


{% block js %}
<script src="{{jsPath}}/entry/admin/app.js"></script>
{% endblock %}