<div class="handbooks">
    {% for book in list %}
    <div>
        <div class="item"
            {% if loop.last %} style="border-bottom: none;"{% endif %}>
            <div class="poster">
                <a href="/books/{{book.id}}" target="_blank">
                    <div class="lazy thumb poster-img loaded" style="background-image: url({{book.coverURL}}); background-size: cover;"></div>
                </a>
            </div>
            <div class="info">
                <a href="/books/{{book.id}}" target="_blank" class="title">
                    <span>{{book.name}}</span>
                </a>
                <div class="desc">{{book.summary}}...</div>
                <div class="author">
                    <div class="author-info">
                        <a href="/uc/{{book.user.id}}" target="_blank" class="user">
                            <div class="lazy avatar hero loaded" style="background-image: url({{book.user.avatarURL}});"></div>
                            <span>{{book.user.username}}</span>
                        </a>
                    </div>
                    <div class="author-desc">
                    </div>
                </div>
                <div class="other">
                    <div class="messages">
                        <span class="message">
                            <span>{{book.chapterCount}}小节</span>
                        </span>
                        <span class="dot">·</span>
                        <span class="message">
                            <span>阅读时长{{book.wordCount | readDuration}}</span>
                        </span>
                        <span class="dot">·</span>
                        <span class="message">
                            <span>{{book.studyUserCount}}</span>
                            <span>人已学习</span>
                        </span>
                    </div>
                </div>
                <div class="footer-bar" style="display: none;"></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>