<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{title}} - </title>
	<link rel="stylesheet" href="/css/common.css">
</head>
<body>
	{{>header}}
	<link rel="stylesheet" href="//cdn.jsdelivr.net/editor/0.1.0/editor.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
	{{>include_js}}
	<script type="text/javascript" src="{{jsPath}}/article/edit.js"></script>
</body>
</html>