.container {
    width: 960px;
    position: relative;
    padding: 80px 0 50px;
    text-align: center;
    margin: 0 auto;
}

.recommend-banner {
    width: 100%;
    min-height: 100px;
    background-color: hsla(0, 0%, 71%, .2);
    border-radius: 6px;
}

.recommend {
    margin-left: -15px;
    margin-right: -15px;
}

.recommend-user-list {
    text-align: left;
}

.recommend-user-item {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.recommend .user-wrap {
    height: 320px;
    margin-top: 80px;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background-color: hsla(0, 0%, 71%, .1);
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -o-transition: .2s ease;
    -ms-transition: .2s ease;
}

.recommend .user-wrap:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
}

.recommend .user-wrap .avatarbox {
    text-decoration: none;
}

.recommend .user-wrap .avatar {
    width: 80px;
    height: 80px;
    margin: -40px 0 10px;
    display: inline-block;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 40px;
}

.recommend .user-wrap h4 {
    font-size: 21px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recommend .user-wrap h4:hover {
    text-decoration: none;
}

.ic-man {
    color: #3194d0;
}

.recommend .user-wrap h4 i {
    margin-right: -5px;
    vertical-align: middle;
}

.ic-man:before {
    content: "\E646";
}

.recommend .user-wrap .description {
    min-height: 50px;
    font-size: 13px;
    line-height: 25px;
    margin: 0 auto 10px;
    max-width: 180px;
}

.recommend .user-wrap .description:hover {
    text-decoration: none;
}

.recommend .user-wrap .meta {
    float: left;
    margin-top: -29px;
    padding-right: 10px;
    font-size: 12px;
    color: #969696;
    background-color: #f8f8f8;
}

.recommend .user-wrap .recent-update {
    min-height: 75px;
}

.recommend .user-wrap .new {
    font-size: 13px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.recommend .user-wrap hr {
    border-color: #eaeaea;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    box-sizing: content-box;
}

.recommend .btn-danger {
    width: 38.2%;
    padding: 10px 0;
    margin: 40px 0;
    font-size: 15px;
    border-radius: 20px;
    background-color: #a5a5a5;
    border: none;
    color: #fff;
}

.recommend .btn-danger:hover {
    background-color: #9b9b9b;
}