<div class="recommended-authors">
    <div class="title">
        <span style="color: #333;">🎖️作者榜</span>
    </div>
    <ul class="list">
        {% for user in recommendUsers %}
        <li class="item">
            <div class="link">
                <a href="/uc/{{user.id}}" target="_blank" class="recommended-avatar" style="background-image: url({{staticURL | imgAbsoluteURL(user.avatarURL)}});"></a>
                <div class="user-info">
                    <a href="/uc/{{user.id}}" target="_blank" class="username">{{user.username}}</a>
                    <a href="{{userLevelChapterURL}}" target="_blank" class="rank">
                        <img src="{{imgPath | levelImgURL(user.level)}}">
                    </a>
                    <div class="position">{{user | jobCompany}}</div>
                    <div class="description">{{user.introduce}}</div>
                </div>
            </div>
        </li>
        {% endfor %}
        <li class="item">
            <a href="/recommendations/authors/recommended" target="_blank" class="more">
                <span>完整榜单</span>
                <i class="fa fa-angle-right" style="font-size: 16px;"></i>
            </a>
        </li>
    </ul>
</div>