body, .golang-home-body-left {
	background-color: #e1e1e1;
}

.detail-title-box {
	padding: 10px;	
	border-radius: 3px 3px 0 0;
	border-bottom: 1px solid #e5e5e5;
}

.article-detail-title {
	font-size: 22px;
	font-weight: bold;
	margin: 8px 0;
	line-height: 25px;
	vertical-align: middle;
}

.article-title-info {
	font-size: 12px;
	color: #838383;
}

.article-title-info-item {
	margin-right: 5px;
}

.article-title-info-item:before {
	content: "•";
}

.home-articles-box {
	padding: 10px;
	border-radius: 0 0 3px 3px;
}

.golang-sidebar-icon-box {
	margin-left: 0;
}

.articles-categoties {
	margin-right: 10px;
	background-color: #80bd01;
	color: #fff;
	font-size: 12px;
	padding: 3px;
	border-radius: 5px;
	line-height: 25px;
	vertical-align: text-bottom;
}

.detail-title-box, .home-articles-box {
	background-color: #fff;
}

.comment-box {
	margin-top: 20px;
}

.comment-content {
	background-color: #fff;
	padding: 10px;
}

.reply-user-icon {
	float: left;
}

.reply-user-icon img {
	width: 30px;
	height: 30px;
}

.reply-user-name {
	color: gray;
	margin: 0 5px;
}

.reply-time {
	color: #08c;
	cursor: default;
}

.comment-item {
	padding: 15px 0;
}

.comment-item {
	border-top: 1px solid #e5e5e5;
}

.comment-item:nth-child(1) {
	border: 0;
}

.comment-item .golang123-editor {
	margin-top: 10px;
	margin-left: 40px;
}
