{% macro loadjs(entry) %}
  {% if env === 'development' %}
    <script type="text/javascript" src="{{jsPath}}/runtime.js"></script>
    <script type="text/javascript" src="{{jsPath}}/vendor.js"></script>
    <script type="text/javascript" src="{{jsPath}}/{{entry}}"></script>
  {% endif %}
{% endmacro %}